<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
    <% if mode == 'edit' %>
		<dt><%= link_to 'Ver', @service, :class => 'action' %></dt>
	<% end %>
	<dt><%= link_to 'Lista', services_path, :class => 'action' %></dt>
	<dt><%= link_to_function 'Guardar', 'submit("service_form")', :class => 'action' %></dt>
<% end %>
<%= error_messages_for :service %>

<% form_for(@service, :html => {:id => 'service_form' }) do |f| %>
	<%= f.hidden_field :vendor_id, :value => 4 %>
	<div class="column2-unit-left">
		<p>
		  <b>Nombre</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		 <p>
		  <b>Precio</b><br />
		  <%= f.text_field :static_price, :class => 'field' %>
		</p>
		<%= f.hidden_field :product_type_id, :value => 4 %>
	</div>
	<div class="column2-unit-right">
		<p><b>Categoría</b><br />
			<%= text_field_with_auto_complete :product, :category_name, 
					{:class => 'field', :size=>30 }, 
					{:url => '/product_categories.js', :skip_style=>1, :method => :get, :param_name => 'search' } %>
		</p>
		<p>
			<b>Codigo UPC</b><br />
			<%= f.text_field :upc, :class => 'field' %>
		</p>
			<% if mode == 'new' %>
	<p>
	  <b>Unidad</b><br />
	  <%= text_field_with_auto_complete :product, :unit_name, 
	  				{:class => 'field', :size=>10 }, 
	  				{:url => formatted_units_path(:js), :skip_style=>1, :method => :get, :param_name => 'search' } %>
	</p>
	<% end %>

	</div>
	<hr class="clear-contentunit" />
	<p>
	  <b>Descripcion</b><br />
	  <%= f.text_area :description %>
	</p>
  
<% end %>



