<% content_for :title do %>Lista de Servicios<% end %>

<div>
  <div class="table_header_row">
    <div class="table_cell_30">Nombre</div>
    <div class="table_cell_20">Precio</div>
    <% if current_user.has_rights(['admin','compras','gerente']) %>
    	<div class="table_cell_20">Costo</div>
    <% end %>
    <div class="table_cell">Upc</div>
  </div>

<% for service in @services %>
  <div class="table_row"> 
    <div class="table_cell_30"><%= link_to service.name[0..25],  '/services/' + service.id.to_s %></div>
    <div class="table_cell_20"><%=h number_to_currency(service.price) %></div>
    <% if current_user.has_rights(['admin','compras','gerente']) %>
	    <div class="table_cell_20"><%=h number_to_currency(service.cost) %></div>
    <% end %>
    <div class="table_cell"><%=h service.upc %></div>
   </div>
<% end %>
<br />
<% if current_user.has_rights(['admin','compras','gerente']) %>
	<%= link_to 'Nuevo Servicio', new_service_path, :class => 'action' %>
<% end %>

<%= will_paginate @services %>
</div>



