
  <%= javascript_include_tag "slider.jquery" %>
  <%= stylesheet_link_tag 'ui.slider.extras' %>
  <%= javascript_include_tag "submit_link" %>
<% content_for :title do %>Lista de Movimientos en <%= current_user.location.name %><% end %>
<% content_for :actions do %>
	<li><%= link_to 'Inventario', products_url, :class => 'action' %></li>
	<li><%= link_to_function 'Imprimir', 'submit_report("date_range_form")', :class => 'action' %></li>
<% end %>

<br />
<%= will_paginate @movements, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_10">Fecha</div>
    <div class="table_cell_10">Tipo</div>
    <div class="table_cell_10">Factura</div>
    <div class="table_cell_15">Entidad</div>
    <div class="table_cell_10">UPC</div>
    <div class="table_cell_15">Producto</div>
    <div class="table_cell_10">Cantidad</div>
    <div class="table_cell_10">Precio</div>
    <div class="table_cell">Costo</div>
  </div>

<% for movement in @movements %>
  <div class="table_row">
    <% case movement.movement_type_id
     when Movement::SALE %>
       <div class="table_cell_10"><%= movement.created_at.to_date %></div>
       <div class="table_cell_10">Venta</div>
       <div class="table_cell_10"><%= link_to movement.order.receipt_number, movement.order %></div>
       <div class="table_cell_15"><%= link_to movement.order.client.name, movement.order.client %></div>
       <div class="table_cell_10"><%= link_to movement.product.upc, movement.product %></div>
       <div class="table_cell_15"><%= link_to movement.product.name, movement.product %></div>
       <div class="table_cell_10"><%= movement.quantity %></div>
       <div class="table_cell_10"><%= number_to_currency(movement.price) %></div>
       <div class="table_cell"><%= number_to_currency(movement.cost) %></div>
     <% when Movement::PURCHASE %>
       <div class="table_cell_10"><%= movement.created_at.to_date %></div>
       <div class="table_cell_10">Compra</div>
       <div class="table_cell_10"><%= link_to movement.order.receipt_number, movement.order %></div>
       <div class="table_cell_15"><%= link_to movement.order.vendor.name, movement.order.vendor %></div>
       <div class="table_cell_10"><%= link_to movement.product.upc, movement.product %></div>
       <div class="table_cell_15"><%= link_to movement.product.name, movement.product %></div>
       <div class="table_cell_10"><%= movement.quantity %></div>
       <div class="table_cell_10"><%= number_to_currency(movement.price) %></div>
       <div class="table_cell"><%= number_to_currency(movement.cost) %></div>
    <% when Movement::COUNT %>
       <div class="table_cell_10"><%= movement.created_at.to_date %></div>
       <div class="table_cell_10">Cuenta Fisica</div>
       <div class="table_cell_10"></div>
       <div class="table_cell_15"><%= link_to movement.order.client.name, movement.order.client %></div>
       <div class="table_cell_10"><%= link_to movement.product.upc, movement.product %></div>
       <div class="table_cell_15"><%= link_to movement.product.name, movement.product %></div>
       <div class="table_cell_10"><%= movement.quantity %></div>
       <div class="table_cell_10"><%= number_to_currency(movement.price) %></div>
       <div class="table_cell"><%= number_to_currency(movement.cost) %></div>
    <% end %>
	</div>
<% end %>
</div>
<br />
<%= will_paginate @movements, :class => 'pagination' %>

