<h1>Listing payment_methods</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for payment_method in @payment_methods %>
  <tr>
    <td><%=h payment_method.name %></td>
    <td><%= link_to 'Show', payment_method %></td>
    <td><%= link_to 'Edit', edit_payment_method_path(payment_method) %></td>
    <td><%= link_to 'Destroy', payment_method, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment_method', new_payment_method_path %>
