

<div class="line">
	<% if (line.to_order ||0) > 0  %>
			<div class="table_row_green">
		<% else %>
			<% logger.debug "line.quantity=#{line.quantity.to_s}" %>
			<% logger.debug "line.on_order=#{line.on_order.to_s}" %>
			<% logger.debug "(line.min || 0)=#{(line.min || 0).to_s}" %>
			<% logger.debug "line.sales_waiting=#{line.sales_waiting.to_s}" %>
			<% if line.quantity + line.on_order < (line.min || 0) + line.sales_waiting  %>
				<div class="table_row_red">
			<% else %>
				<div class="table_row">
			<% end %>
	<% end %>
	<% fields_for "inventories[]", line do |line_form| %>

				<div class="table_cell_25"><%= link_to line.product.name, line.product %></div>
				<div class="table_cell_10"><%= line_form.text_field :min, :class => 'field' %></div>
				<div class="table_cell_10"><%= line_form.text_field :max, :class => 'field' %></div>
				<div class="table_cell_10"><%= h line.sales_waiting %></div>
				<div class="table_cell_10"><%= h line.on_order %></div>
				<div class="table_cell_10"><%= h line.quantity %></div>
				<% puts "line.id=" + line.id.to_s + "line.product.name=" + line.product.name %>
				<div class="table_cell"><%= line_form.text_field :to_order, :class => 'field' %></div>

		<%= line_form.hidden_field :id %>
		</div>
  <% end %>
</div>


