<h1>New product_on_order</h1>

<%= error_messages_for :product_on_order %>

<% form_for(@product_on_order) do |f| %>
  <p>
    <b>Product</b><br />
    <%= f.text_field :product %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.text_field :order %>
  </p>

  <p>
    <b>Quantity</b><br />
    <%= f.text_field :quantity %>
  </p>

  <p>
    <b>Price</b><br />
    <%= f.text_field :price %>
  </p>

  <p>
    <b>Received</b><br />
    <%= f.date_select :received %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_on_orders_path %>
