<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>

<% if current_user.has_rights(['Suscripciones']) %>
	<% content_for :more_search do %>
		<%= text_field_tag :sub_day, params[:sub_day], :class => 'dayfield'%>
	<% end %>
<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar', 'submit("entity_form")', :class => 'action' %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Nombre</b><br />
		<%= f.text_field :name, :class => 'field' %>
	</p>
	<% if @entity.entity_type_id == 3 %>
	  <p>
		  <b>Cuenta de Efectivo</b><br />
			<%= f.collection_select(:cash_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		</p>
		<p>
		  <b>Cuenta de Inventario</b><br />
			<%= f.collection_select(:inventory_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		</p>
		<p>
			<b>Proximo Numero de Factura</b><br />
			<%= f.text_field :next_receipt_number, :class => 'field' %>
		</p>
		<p>
		  <b>Rama para cuentas de nuevos clientes</b><br />
			<%= f.collection_select(:client_accounts_group_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		</p>
	<% end %>
	<% if @entity.entity_type_id == 2 or @entity.entity_type_id == 5 %>
		<p>
			<b>Nacimiento</b><br />
			<%= calendar_date_select "entity", :birth, :time => false, :year_range => 100.years.ago..0.years.ago, :size=>20, :class => 'field' %>
		</p>
	<% end %>
	<p>
		<b>Direcion</b><br />
		<%= f.text_area :address, :style => "height:80px; width: 300px;" %>
	</p>
	<p>
		<b>Departamento</b><br />
		<%= f.collection_select(:state_id, get_states, :id, :name) %>
	</p>
	<p>
		<b>Municipio</b><br />
		<%= f.text_field :city, :class => 'field' %>
	</p>
	<% if @entity.entity_type_id == 2 or @entity.entity_type_id == 5 %>
		<p>
			<b>Grupo de Precios</b><br />
			<%= f.collection_select(:price_group_name_id, get_price_group_names, :id, :name) %>
		</p>
		<p>
			<b>Sitio</b><br />
			<%= f.collection_select(:site_id, get_locations, :id, :name) %>
		</p>
		<p>
			<b>Asesor</b><br />
			<%= f.collection_select(:user_id, get_users, :id, :login) %>
		</p>
		<p>
			<b>Dia de Procesar Subscripciones</b><br />
			(Dejar en blanco para no procesarlas o si el cliente no tiene subscripciones.)<br />
			<%= f.text_field :subscription_day, :class => 'field' %>
		</p>
	<% end %>
	<p>
		<b>Notas:</b><br />
		<%= f.text_area :notes, :style => "height:80px; width: 300px;" %>
	</p>
	<% if @entity.entity_type_id == 3 %>
		<p>
			<b>Grupo de Precios por Defecto</b><br />
			<%= f.collection_select(:price_group_id, get_price_groups, :id, :name) %>
		</p>
	<% end %>
</div>
<div class="column2-unit-right">
  <% if @entity.entity_type.id == 3 %>
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
		  <p>
		    <b>Cuenta de Ingresos</b><br />
			  <%= f.collection_select(:revenue_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		  </p>
		  <p>
		    <b>Cuenta de Gastos</b><br />
			  <%= f.collection_select(:expense_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		  </p>
		  <p>
		    <b>Cuenta de Impuestos</b><br />
			  <%= f.collection_select(:tax_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
		  </p>
			<p>
				<b>Rama para cuentas de nuevos proveedores</b><br />
				<%= f.collection_select(:vendor_accounts_group_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
			</p>
			<% if mode == 'new' %>
				<p>
					<b>Hacer nuevas cuentas para grupos de Empleados, Clientes, y Proveedores?</b><br />
					<input type="checkbox" id="add_account_groups" name="add_account_groups" value="yes" />
				</p>
			<% end %>
		<% end %>
  <% end %>
	<% if @entity.entity_type_id == 2 or @entity.entity_type_id == 5 or @entity.entity_type_id == 1 %>
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
	    <p>
	    	<% if @entity.entity_type_id == 2 or @entity.entity_type_id == 5 %>
        	<b>Cuenta del Cliente</b><br />
        <% else %>
        	<b>Cuenta del Proveedor</b><br />
        <% end %>
	      <%= f.collection_select(:cash_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
      </p>
	    <p>
        <b>Cuenta para Recibir Pagos</b><br />
	      <%= f.collection_select(:revenue_account_id, get_accounts, :id, :number_and_name, {:include_blank => true}) %>
      </p>
    <% end %>
		<p>
			<b>Telefono Fijo</b><br />
			<%= f.text_field :home_phone_number, :class => 'field' %>
		</p>
		<p>
			<b>Telefono Celular</b><br />
			<%= f.text_field :cell_phone_number, :class => 'field' %>
		</p>
  <% end %>
	<p>
		<b>Telefono Oficina</b><br />
		<%= f.text_field :office_phone_number, :class => 'field' %>
	</p>
	<p>
		<b>Correo Electronico</b>
		<%= f.text_field :email, :class => 'field' %>
	</p>
	<% if @entity.entity_type_id == 2 or @entity.entity_type_id == 5 %>
		<p>
			<b>Registro</b><br />
			<%= f.text_field :register, :class => 'field' %>
		</p>
		<p>
			<b>NIT</b><br />
			<%= f.text_field :nit_number, :class => 'field' %>
		</p>
		<p>
			<b>Giro</b>
			<%= f.text_field :giro, :class => 'field' %>
		</p>
		<p>
			<b>Tipo</b><br />
			<%= f.collection_select(:entity_type_id, get_client_types, :id, :name) %>
		</p>
	<% else %>
	  <%= f.hidden_field :entity_type_id, :value => @entity.entity_type_id %>
	<% end %>
	<p>
		<b>Activo</b><br />
		<%= f.check_box :active %>
	</p>
</div>
<hr class="clear-contentunit" />



