<% content_for :title do %>Lista de Clientes Cumpliendo Anos Este Dia<% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','compras','gerente','ventas']) %>
		<dt> <%= link_to 'Nuevo cliente', "/clients/new", :class => 'action' %> </dt>
	<% end %>
<% end %>

<div>
  <div class="table_header_row">
    <div class="table_cell_20">Nombre</div>
    <div class="table_cell_10">Fijo</div>
    <div class="table_cell_10">Oficina</div>
    <div class="table_cell_10">Celular</div>
    <div class="table_cell_20">Correo E</div>    
    <div class="table_cell">Direcion</div>
  </div>

<% for entity in @entities %>
	<% if entity.birthday? %>
		<div class="table_row">
		  <div class="table_cell_20"><%= link_to entity.name[0..25], entity %></div>
		  <div class="table_cell_10"><%=h entity.home_phone[0..3] + "-" + entity.home_phone[4..7] %></div>
		  <div class="table_cell_10"><%=h entity.office_phone[0..3] + "-" + entity.office_phone[4..7] %></div>
		  <div class="table_cell_10"><%=h entity.cell_phone[0..3] + "-" + entity.cell_phone[4..7] %></div>
		  <div class="table_cell_20"><%=h entity.email %></div>
		  <div class="table_cell"><%=h entity.address %></div>
		</div>
	<% end %>
<% end %>
</div>

<br />



