<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Nueva Historia para <%= @entity.name %><% end %>
<% content_for :actions do %>

	<dt><%= link_to 'Cancelar', @entity %></dt>
	<dt><%= link_to_function 'Generar', 'submit("receipt_form")' %></dt>
<% end %>

<%= error_messages_for :receipt %>


<% form_tag create_history_path, :method =>'post', :id => 'receipt_form'  do %>
<br />
  <div class="column3-unit-center">
    <p>
      <b>Cuanto meses de historia desea generar?</b><br />
    <%= text_field_tag :number, @next, :class => 'field'%>
    </p>
  </div>
<% end %>

