<% if @entity.id==1 %>
	<% content_for :title do %>Detalles de <%= @entity.name %><% end %>
<% else %>
	<% content_for :title do %>Detalles del <%= @entity.entity_type.name %> "<%= @entity.name %>" #<%= @entity.id %><% end %>
<% end %>
<% if current_user.has_rights(['Suscripciones']) %>
	<% content_for :more_search do %>
		<%= text_field_tag :sub_day, params[:sub_day], :class => 'dayfield'%>
	<% end %>
<% end %>
<% content_for :actions do %>
	<% if @entity.entity_type.id == 3 %>
	    <dt><%= link_to 'Nuevo', new_site_path, :class => 'action' %></dt>
	    <dt><%= link_to 'Cambiar', edit_entity_path(@entity), :class => 'action' %></dt>
		<dt><%= link_to 'Compras Aqui', purchases_path, :class => 'action' %>  </dt>
		<dt><%= link_to 'Ventas Aqui', sales_path, :class => 'action' %>  </dt>
	    <dt><%= link_to 'Lista', sites_path, :class => 'action' %></dt>
	<% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 %>
	    <dt><%= link_to 'Nuevo', new_client_path, :class => 'action' %></dt>
	    <dt><%= link_to 'Cambiar', edit_entity_path(@entity), :class => 'action' %></dt>
	    <dt><%= link_to 'Lista', clients_path, :class => 'action' %></dt>
	    <dt><%= link_to 'Hacer Historia', new_history_path(@entity), :class => 'action' %></dt>
	    <dt><%= link_to 'Procesar Subscripciones', process_subscriptions_url(:search=>'id:'+@entity.id.to_s), :class => 'action' %></dt>
	<% end %>
	<% if @entity.entity_type.id == 1 %>
	    <dt><%= link_to 'Nuevo', new_vendor_path, :class => 'action' %></dt>
	    <dt><%= link_to 'Cambiar', edit_entity_path(@entity), :class => 'action' %></dt>
	    <dt><%= link_to 'Lista', vendors_path, :class => 'action' %></dt>
	<% end %>
<% end %>

  <% if @entity.entity_type_id !=3 and @entity.birthday? %>  
  	<% flash[:important] = 'Este cliente esta cumpliendo anos..' %> 
  <% end %>
  <% if !@entity.active %>  
  	<% flash[:error] = 'Este cliente esta desactivado.' %> 
  <% end %>
<div class="column2-unit-left">
	<p>
		<b>Nombre</b><br />		
		<%=h @entity.name %>
	</p>
	<% if @entity.entity_type.id == 3 %>
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
	    <p>
			  <b>Cuenta de Efectivo</b><br />
			  <% if @entity.cash_account %>
  			  <%=link_to @entity.cash_account.name, @entity.cash_account %>
			  <% end %>
		  </p>
	    <p>
			  <b>Cuenta de Inventario</b><br />
			  <% if @entity.inventory_account %>
  			  <%=link_to @entity.inventory_account.name, @entity.inventory_account %>
			  <% end %>
		  </p>
	    
		<% end %>
	<% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 %>
		<p>
			<b>Nacimiento</b><br />		
			<% if @entity.birth %>
				<%=h @entity.birth.strftime('%B %d') %>
			<% end %>
			
		</p>
	<% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 or @entity.entity_type.id == 1 %>
		<p>
			<b>Direcion</b><br />
			<% if @entity.address %>
			  <%=@entity.address.gsub("\n","<br />") %>
			<% end %>
		</p>
		<p>
			<b>Departamento</b><br />		
			<%=h @entity.state.name %>
		</p>
		<p>
			<b>Municipio</b><br />		
			<%=h @entity.city %>
		</p>
		<p>
			<b>Grupo de Precios</b><br />		
			<% if @entity.price_group_name %>
				<%=h @entity.price_group_name.name %>
			<% end %>
			
		</p>
		<p>
			<b>Notas:</b><br />
			<% if @entity.notes %>
			  <%= @entity.notes.gsub("\n","<br />") %>
			<% end %>
		</p>
	<% end %>
	<% if @entity.entity_type.id == 3 %>
		<p>
			<b>Grupo de Precios por Defecto</b><br />		
				<% if @entity.price_group %>
					<%=h @entity.price_group.price_group_name.name %>
				<% end %>
			
		</p>
	<% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 %>
		<p>
			<b>Asesor de Cliente</b><br />		
				<% if @entity.user %>
					<%=link_to @entity.user.login, @entity.user %>
				<% end %>
		</p>
		<p>
			<b>Sitio</b><br />		
				<% if @entity.site %>
					<%=link_to @entity.site.name, @entity.site %>
				<% end %>
		</p>
	<% end %>
</div>
<div class="column2-unit-right">
	<p>
		<b>Tipo</b><br />
		<% if @entity.entity_type %>
			<%=h @entity.entity_type.name %>
		<% end %>
	</p>
  <% if @entity.entity_type.id == 3 %>
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
      <p>
			  <b>Cuenta de Ingresos</b><br />
			  <% if @entity.revenue_account %>
  			  <%=link_to @entity.revenue_account.name, @entity.revenue_account %>
			  <% end %>
		  </p>
	    <p>
			  <b>Cuenta de Gastos</b><br />
			  <% if @entity.expense_account %>
  			  <%=link_to @entity.expense_account.name, @entity.expense_account %>
			  <% end %>
		  </p>
	    <p>
			  <b>Cuenta de Impuestos</b><br />
			  <% if @entity.tax_account %>
  			  <%=link_to @entity.tax_account.name, @entity.tax_account %>
			  <% end %>
		  </p>
		<% end %>
  <% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 or @entity.entity_type.id == 1 %>
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
	    <p>
		    <b>Cuenta para Cobrar</b><br />
		    <% if @entity.cash_account %>
  		    <%=link_to @entity.cash_account.name, @entity.cash_account%>
		    <% end %>
		  </p>
	    <p>
		    <b>Cuenta para Recibir Pagos</b><br />
		    <% if @entity.revenue_account %>
  		    <%=link_to @entity.revenue_account.name, @entity.revenue_account%>
		    <% end %>
		  </p>
	   <% end %>
	<p>
		<b>Telefono Fijo</b><br />
		<%=h @entity.home_phone_number %>
		
	</p>
	<p>
		<b>Telefono Oficina</b><br />
		<%=h @entity.office_phone_number %>
	</p>
	<p>
		<b>Telefono Celular</b><br />
		<%=h @entity.cell_phone_number %>
	</p>
	<p>
		<b>Correo E</b>
		<%=h @entity.email %>
	</p>
	<% end %>
	<% if @entity.entity_type.id == 2 or @entity.entity_type.id == 5 %>
		<p>
			<b>Registro</b>
			<%=h @entity.register %>
		</p>
		<p>
			<b>NIT</b><br />
			<%=h @entity.nit_number %>
		</p>
		<p>
			<b>Giro</b><br />
			<%=h @entity.giro %>
		</p>
		<% if @entity.subscription_day %>
			<p>
				<b>Dia de Procesar Subscripciones</b><br />
				<%=h @entity.subscription_day %>
			</p>
		<% end %>
	<% end %>
</div>
<hr class="clear-contentunit" />
<% if @unpaid %>
  <p>
	  <b>Ventas No Pagadas:</b>
	  <div>
			<div class="table_header_row">
					<div class="table_cell_15">Fecha Entregado</div>
					<div class="table_cell_15">Venta</div>
					<div class="table_cell_15">Factura</div>
					<div class="table_cell_15">Total</div>
					<div class="table_cell_15">Pagos</div>
					<div class="table_cell">Acciones</div>
				</div>
		  <% for order in @unpaid %>
			  <div class="table_row">
					<div class="table_cell_15"><%= h order.received.to_s(:long) %></div>
					<div class="table_cell_15"><%= link_to order.id, order %></div>
					<div class="table_cell_15">
						<% if order.receipts.length > 0 %>
							<%= link_to order.receipts[0].number, order.receipts[0] %>
						<% else %>
							<%= link_to 'Facturar', new_receipt_path(order) %>
						<% end %>
					</div>
					<div class="table_cell_15"><%= h number_to_currency(order.grand_total) %></div>
					<div class="table_cell_15"><%= h number_to_currency(order.amount_paid) %></div>
					<div class="table_cell"><%=link_to 'Marcar Pagada', pay_off_url(order) %></div>
				</div>
		  <% end %>
	  </div>
  </p>
  <br />
  <hr class="clear-contentunit" />
<% end %>
<% if @subs %>
  <p>
	  <b>Suscripciones Activos:</b>
	  <h2>Haga clic en la cantidad para ver los detalles de la suscripción.</h2>
	  <div>
		  <div class="table_header_row">
			  <div class="table_cell_20">Producto</div>
			  <div class="table_cell_20">Cantidad</div>
			  <div class="table_cell_20">Precio</div>
			  <div class="table_cell_20">Ultima Venta</div>
			  <div class="table_cell">Acciones</div>
		  </div>
		  <% for s in @subs %>
			  <div class="table_row">
				  <div class="table_cell_20"><%= link_to s.product.name, s.product %></div>
				  <div class="table_cell_20"><%= link_to s.quantity, s %></div>
				  <div class="table_cell_20"><%=h number_to_currency((s.price||0)) %></div>
          <div class="table_cell_20">
              <% if s.last_line %>
                  <%= link_to s.last_line.received.to_date.to_s(:long), s.last_line.order %>
              <% end %>
          </div>
          <div class="table_cell">
            <%= link_to 'Ver Detalles', s %><br />
            <%= link_to 'Remover', s, :confirm => 'Esta seguro?', :method => :delete %>
          </div>
			  </div>
		  <% end %>
	  </div>
  </p>
  <br />
  <hr class="clear-contentunit" />
<% end %>
<p>
	<% if @entity.entity_type_id == 1 %>
		<b>Compras Recientes de este Proveedor:</b>
		<div>
			<div class="table_header_row">
				<div class="table_cell_15">Numero</div>
				<div class="table_cell_20">Proveedor</div>
				<div class="table_cell_15">Recibido</div>
				<div class="table_cell_15">Total</div>
				<div class="table_cell_15">Estado</div>
				<div class="table_cell">Fecha</div>
			</div>
			<% for order in Order.find_all_by_vendor_id(@entity, :limit => 10, :order => 'created_at DESC') %>
				<div class="table_row">
					<div class="table_cell_15"><%= link_to order.id, order %></div>
					<div class="table_cell_20"><%= link_to order.vendor.name, order.vendor %></div>
					<div class="table_cell_15"><%=h order.received %></div>
					<div class="table_cell_15"><%=h number_to_currency(order.grand_total) %></div>
					<div class="table_cell_15"><%=h awaiting(order) %></div>
					<div class="table_cell"><%=h order.created_at.to_date.to_s %></div>
				</div>
			<% end %>
	<% elsif @entity.entity_type_id == 3 %>
		<b>Ventas Recientes en este Sitio:</b>
		<div>
			<div class="table_header_row">
				<div class="table_cell_15">Numero</div>
				<div class="table_cell_20">Cliente</div>
				<div class="table_cell_15">Recibido</div>
				<div class="table_cell_15">Total</div>
				<div class="table_cell_15">Estado</div>
				<div class="table_cell">Fecha</div>
			</div>
			<% for order in Order.find_all_by_vendor_id(@entity, :limit => 20, :order => 'created_at DESC') %>
				<div class="table_row">
					<div class="table_cell_15"><%= link_to order.id, order %></div>
					<div class="table_cell_20"><%= link_to order.client.name, order.client %></div>
					<div class="table_cell_15"><%=h order.received %></div>
					<div class="table_cell_15"><%=h number_to_currency(order.grand_total) %></div>
					<div class="table_cell_15"><%=h awaiting(order) %></div>
					<div class="table_cell"><%=h order.created_at.to_date.to_s %></div>
				</div>
			<% end %>
		<% else %>
		<b>Ventas Recientes a este Cliente:</b>
		<div>
			<div class="table_header_row">
				<div class="table_cell_15">Numero</div>
				<div class="table_cell_20">Proveedor</div>
				<div class="table_cell_15">Recibido</div>
				<div class="table_cell_15">Total</div>
				<div class="table_cell_15">Estado</div>
				<div class="table_cell">Fecha</div>
			</div>
			<% for order in Order.find_all_by_client_id(@entity, :limit => 20, :order => 'created_at DESC') %>
				<div class="table_row">
					<div class="table_cell_15"><%= link_to order.id, order %></div>
					<div class="table_cell_20"><%= link_to order.vendor.name, order.vendor %></div>
					<div class="table_cell_15"><%=h order.received %></div>
					<div class="table_cell_15"><%=h number_to_currency(order.grand_total) %></div>
					<div class="table_cell_15"><%=h awaiting(order) %></div>
					<div class="table_cell"><%=h order.created_at.to_date.to_s %></div>
				</div>
			<% end %>
		<% end %>
	</div>
</p>


