<% content_for(:javascript) do %>
  <%= javascript_include_tag "labels_edit" %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar Cambios', 'submit("labels_form")', :class => 'action' %></dt>
	<dt><%= link_to 'Remover', @order, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<dt><%= link_to 'Cancelar', counts_url, :class => 'action' %></dt>
<% end %>

<%= error_messages_for :count, :header_message => "Surgieron los siguentes dificultades guardando los cambios las etiquetas:", :message => "" %>
<%= f.hidden_field :vendor_id, :value => current_user.location.id %>
<%= f.hidden_field :client_id, :value => current_user.location.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :order_type_id, :id=> 'order_type_id', :value => 6 %>

<p>
  <b>Descripcion</b><br />
  <%= f.text_area :comments, :class => 'comments' %>
</p>
<hr class="clear-contentunit" />

<div>
	<div class="table_header_row">
		<div class="table_cell_70">Producto</div>
		<div class="table_cell_10">Cantidad</div>
		<div class="table_cell">Acciones</div>
	</div>
	<div id="lines">
		<%= render :partial => 'labels/line', :collection => @order.lines %>
	</div>
	<div id="lines_errors"></div>
	<%= link_to "Añadir otro producto o numero de serie | ", new_line_path(:order_id => @order.id), :id => "add_new_line", :class => 'action'  %>	  
</div>
	
