<% content_for :title do %>Detalles de Hoja de Etiquetas #<%= @order.id %><% end %>
<% content_for :actions do %>
	<% if current_user.has_right(User::VIEW_PRODUCTS) %>
		<li><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></li>
		<li><%= link_to 'Nueva Hoja', '/labels/new', :class => 'action' %></li>
		<li><%= link_to 'Imprimir', show_receipt_url(@order), :class => 'action' %></li>
		<li><%= link_to 'Lista', '/counts', :class => 'action' %></li>
	<% end %>
<% end %>
<div class="column2-unit-left">

	<p>
    <b>Descripcion</b><br />
    <%=h @order.comments %>
  </p>
</div>
<div class="column2-unit-right">
</div>
<hr class="clear-contentunit" />
<p>
	<div>
		<div class="table_header_row">
			<div class="table_cell_70">Producto</div>
			<div class="table_cell">Cantidad </div>
		</div>
		<% for line in @order.lines %>
			<div class="table_row">
				<div class="table_cell_70"><%=link_to line.product.name, line.product %></div>
				<div class="table_cell"><%=h line.quantity %></div>
			</div>
		<% end %>
	</div>
</p>
