
<h1>Editing privilege</h1>

<%= error_messages_for :privilege %>

<% form_for(@privilege) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @privilege %> |
<%= link_to 'Back', privileges_path %>
