
<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<li><%= link_to_function 'Guardar', 'submit("user_form")', :class => 'action' %></li>
	<% if mode=='edit' %>
		<li><%= link_to 'Remover', @user, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></li>
	<% end %>
	<li><%= link_to 'Cancelar', @user, :class => 'action' %></li>
<% end %>

<%= error_messages_for :unit %>
<script type="text/javascript">
	$(document).ready(function(){
	
		$("#cash_account_lookup").autocomplete("/accounts.js",{matchSubset:0, autoFill:1}); 
		$("#revenue_account_lookup").autocomplete("/accounts.js",{matchSubset:0, autoFill:1}); 
		$("#personal_account_lookup").autocomplete("/accounts.js",{matchSubset:0, autoFill:1}); 
		
	  //Setup	date picker
	  $.datepicker.regional['es']
	  $(".datepicker").datepicker();
	});
</script>
<% form_for @user, :html => {:id => 'user_form' }  do |f| %>
	
	<div class="column2-unit-left">
		<p>
		  <b>Nombre de Usuario</b><br />
		  <%= f.text_field :login, :class => 'field' %>
		</p>
		<p>
		  <b>Nombre Completo</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		<p>
		  <b>Sitio Actual:</b><br />
		  <input disabled class="field" value= <% if @user.location %><%= @user.location.name %><% end %> >
		  	
		  <br />
		  (Para cambiar simplemente escoja otro sitio de la lista de sitios)
		</p>
		<p>
			<b>Password</b><br/>
			<%= f.password_field :password, :class => 'field' %>
		</p>
		<p>
			<b>Confirm Password</b><br/>
			<%= f.password_field :password_confirmation, :class => 'field' %>
		</p>
		
		<p>
			<%= f.check_box :do_accounting, :class => 'field' %><b> Hacer Contabilidad?</b>
		</p>
	</div>
	<div class="column2-unit-right">
		<p>
			<b>Dia de Trabajo Actual</b>
			<%= f.text_field :today, :class=> 'field datepicker', :id => 'end_date',:style=>'width:168px;' %>
		</p>
		<p>
		  <b>Correo Electronico</b><br />
		  <%= f.text_field :email, :class => 'field' %>
		</p>
		<p>
		  <b>Grupo de Precios Actual:</b><br />
	  	<input disabled class="field" value= <% if @user.price_group_name %><%= @user.price_group_name.name %><% end %> >
		  <br />
		  (Para cambiar simplemente escoja un cliente de otro grupo de precios de la lista de clientes)
		</p>
		<p>
			<%= f.check_box :default_received, :class => 'field' %><b> Marcar pedidos como Recibido como defecto?</b>
		</p>
		<% if current_user.has_rights(['Admin','Contabilidad','Gerente']) %>
		  <p>
		    <b>Cuenta para Fondos Recibido por la Compañía</b><br />
			  <%= f.text_field :cash_account, :class=> 'lookup field', :id => 'cash_account_lookup',:style=>'width:168px;' %>
		  </p>
		  <p>
		    <b>Cuenta para Ingresos por Ventas Hechas</b><br />
			  <%= f.text_field :revenue_account, :class=> 'lookup field', :id => 'revenue_account_lookup',:style=>'width:168px;' %>
		  </p>
		  <p>
		    <b>Cuenta para Fondos Personales</b><br />
			  <%= f.text_field :personal_account, :class=> 'lookup field', :id => 'personal_account_lookup',:style=>'width:168px;' %>
		  </p>
		<% end %>
	</div>
  
	<hr class="clear-contentunit" /><br />
	<p>
		<b>Papeles de este usuario:</b>
	</p>
	<div>
	<div class="table_header_row">
		<div class="table_cell_80">Papel</div>
		<div class="table_cell">Acciones </div>
	</div>
	<div id="roles">
		<% f.fields_for :roles do |child_form| %>
			<%= render :partial => "role", :locals => {:child_form=>child_form} %>
		<% end %>
	</div>
	<div id="roles_errors"></div>
</div>
<% end %>
<%= render :partial => 'new_role_form', :locals => { :user => @user} %>


