
<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
  <%= javascript_include_tag "user_edit" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar', 'submit("user_form")', :class => 'action' %></dt>
	<% if mode=='edit' %>
		<dt><%= link_to 'Remover', @user, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<% end %>
	<dt><%= link_to 'Cancelar', @user, :class => 'action' %></dt>
<% end %>

<%= error_messages_for :unit %>

<% form_for @user, :html => {:id => 'user_form' }  do |f| %>
	
	<div class="column2-unit-left">
		<p>
		  <b>Nombre de Usuario</b><br />
		  <%= f.text_field :login, :class => 'field' %>
		</p>
		<p>
		  <b>Sitio Actual:</b><br />
		  <input disabled class="field" value= <% if @user.location %><%= @user.location.name %><% end %> >
		  	
		  <br />
		  (Para cambiar simplemente escoja otro sitio de la lista de sitios)
		</p>
		<p>
			<b>Password</b><br/>
			<%= f.password_field :password, :class => 'field' %>
		</p>
		<p>
			<b>Confirm Password</b><br/>
			<%= f.password_field :password_confirmation, :class => 'field' %>
		</p>
		
		<p>
			<%= f.check_box :do_accounting, :class => 'field' %><b> Hacer Contabilidad?</b>
		</p>
	</div>
	<div class="column2-unit-right">
	
		<p>
		  <b>Correo Electronico</b><br />
		  <%= f.text_field :email, :class => 'field' %>
		</p>
		<p>
		  <b>Grupo de Precios Actual:</b><br />
	  	<input disabled class="field" value= <% if @user.price_group_name %><%= @user.price_group_name.name %><% end %> >
		  <br />
		  (Para cambiar simplemente escoja un cliente de otro grupo de precios de la lista de clientes)
		</p>
		<p>
			<%= f.check_box :default_received, :class => 'field' %><b> Marcar pedidos como Recibido como defecto?</b>
		</p>
		<% if current_user.has_rights(['admin','contabilidad','gerente']) %>
		  <p>
		    <b>Cuenta para Fondos Recibido por la Compañía</b><br />
			  <%= f.collection_select(:cash_account_id, get_accounts, :id, :name, {:include_blank => true}) %>
		  </p>
		  <p>
		    <b>Cuenta para Ingresos por Ventas Hechas</b><br />
			  <%= f.collection_select(:revenue_account_id, get_accounts, :id, :name, {:include_blank => true}) %>
		  </p>
		  <p>
		    <b>Cuenta para Fondos Personales</b><br />
			  <%= f.collection_select(:personal_account_id, get_accounts, :id, :name, {:include_blank => true}) %>
		  </p>
		<% end %>
	</div>
  
	<hr class="clear-contentunit" /><br />
	<p>
		<b>Papeles de este usuario:</b>
	</p>
	<div>			
	<div class="table_header_row">
		<div class="table_cell_80">Papel</div>
		<div class="table_cell">Acciones </div>
	</div>
	<div id="roles">
		<%= render :partial => 'role', :collection => @user.roles_users %>
	</div>
	<div id="roles_errors"></div>
</div>
<% end %>
<%= render :partial => 'new_role_form', :locals => { :user => @user} %>


