
<% content_for :title do %><%= heading %><% end %>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <p>
    <b>Usuario</b><br />
    <%= f.text_field :login, :class => 'field' %>
  </p>

<hr class="clear-contentunit" />
<div class="column2-unit-left">
 <p>
    <b>E Mail</b><br />
    <%= f.text_field :email, :class => 'field' %>
  </p>
 
</div>
<div class="column2-unit-right">
 
</div>
<hr class="clear-contentunit" />
  <p>
    <%= f.submit button_text, :class => 'button' %>
  </p>
<% end %>
<% if mode == 'edit' %>
	<%= link_to 'Ver', @user %> |
	<%= link_to 'Remover', @user, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %> |
<% end %>
<%= link_to 'Atras', users_path %>

