<% content_for :title do %>Lista de Usuarios<% end %>
<% content_for :actions do %>
	<% if current_user.has_right('CREATE_USERS') %>
		<li><%= link_to 'Nuevo Usuario', new_user_path %></li>
	<% end %>
<% end %>

<%= will_paginate @users, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_10">Numero</div>
    <div class="table_cell_20">Nombre</div>
    <div class="table_cell_20">Correo E.</div>
    <div class="table_cell_15">Recibido por defecto</div>
    <div class="table_cell">Locacion Actual</div>
  </div>
<% for user in @users %>
  <div class="table_row"> 
    <div class="table_cell_10"><%= h user.id %></div>
    <div class="table_cell_20"><%= link_to user.name, user %></div>
    <div class="table_cell_20"><%= h user.email %></div>
    <div class="table_cell_15"><%= h user.default_received %></div>
    <div class="table_cell">
    	<% if user.location %>
    		<%= link_to user.location.name, user.location %>
    	<% end %>
    </div>
    
  </div>
<% end %>
<br />
<%= will_paginate @users, :class => 'pagination' %>

</div>
