

<p>
  <b>Product:</b>
  <%=h @combo_line.product %>
</p>

<p>
  <b>Combo:</b>
  <%=h @combo_line.combo %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @combo_line.quantity %>
</p>

<p>
  <b>Serialized product:</b>
  <%=h @combo_line.serialized_product %>
</p>


<%= link_to 'Edit', edit_combo_line_path(@combo_line) %> |
<%= link_to 'Back', combo_lines_path %>
