<% case @order.order_type_id
	when 4 %>
		<% content_for :title do %>Detalles de Transferencia #<%= @order.id %><% end %>
	<% when 1 %>
		<% content_for :title do %>Detalles de Venta - Factura #<%= @order.receipt_number %><% end %>
	<% when 2 %>
		<% content_for :title do %>Detalles de Compra - Factura #<%= @order.receipt_number %><% end %>
	<% when 3 %>
		<% content_for :title do %>Detalles de Consumo Interno #<%= @order.id %><% end %>
	<% else %>
		<% content_for :title do %>Detalles de Pedido #<%= @order.id %>:<%= @order.order_type_id %><% end %>
<% end %>
<% content_for :actions do %>
	<% case @order.order_type_id
	when 1 %>
		<% if current_user.has_right(User::CHANGE_SALES) %>
    			<li><%= link_to 'Nueva Venta', new_sale_path %></li>
    			<li><%= link_to 'Cambiar', edit_order_path(@order) %></li>
    			<% if current_user.has_right('DELETE_SALES') %>
						<li><%= link_to 'Borrar', erase_order_path(@order) %></li>
					<% end %>
		    <% if !@order.deleted %>
			    <li><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id) %></li>
			    <% if @order.amount_paid < @order.grand_total %>
			    	<li><%= link_to 'Marcar Pagado', pay_off_path(:order_id=>@order.id) %></li>
			    <% elsif @order.amount_paid > @order.grand_total %>
			    	<li><%= link_to 'Devolver Dinero', pay_off_path(:order_id=>@order.id) %></li>
			    <% end %>
			<% end %>
			<li><%= link_to 'Imprimir', count_sheet_url, :class => 'action' %></li>
		<% end %>
		<% if view == 'products' %>
		  <li><%= link_to 'Historia', order_history_path(@order) %></li>
		<% elsif view == 'history' %>
		  <li><%= link_to 'Productos', order_path(@order) %></li>
		<% end %>
		<li><%= link_to 'Lista de Ventas', sales_path %> </li>
	<% when 2 %>
		<% if current_user.has_right(User::CHANGE_PURCHASES) %>
    			<li><%= link_to 'Nueva Compra', new_purchase_path %></li>
			    <li><%= link_to 'Cambiar', edit_order_path(@order) %></li>
    			<% if current_user.has_right('DELETE_PURCHASES') %>
						<li><%= link_to 'Borrar', erase_order_path(@order) %></li>
					<% end %>
		    <% if !@order.deleted %>
			    <li><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id) %></li>
			    <% if @order.amount_paid < @order.grand_total %>
			    	<li><%= link_to 'Marcar Pagado', pay_off_path(:order_id=>@order.id) %></li>
			    <% elsif @order.amount_paid > @order.grand_total %>
			    	<li><%= link_to 'Devolver Dinero', pay_off_path(:order_id=>@order.id) %></li>
			    <% end %>
			<% end %>
		  <% if view == 'products' %>
		    <li><%= link_to 'Historia', order_history_path(@order) %></li>
		  <% elsif view == 'history' %>
		    <li><%= link_to 'Productos', order_path(@order) %></li>
		  <% end %>
			<li><%= link_to 'Lista de Compras', purchases_path %> </li>
		<% end %>
	<% else %>
		<% if current_user.has_right('CHANGE_SALES') %>
	    <li><%= link_to 'Cambiar', edit_order_path(@order) %></li>
      <% if !@order.deleted %>
		    <li><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id) %></li>
		    <% if @order.amount_paid < @order.grand_total %>
		    	<li><%= link_to 'Marcar Pagado', pay_off_path(:order_id=>@order.id) %></li>
		    <% elsif @order.amount_paid > @order.grand_total %>
		    	<li><%= link_to 'Devolver Dinero', pay_off_path(:order_id=>@order.id) %></li>
		    <% end %>
			<% end %>
		  <% if view == 'products' %>
		    <li><%= link_to 'Historia', order_history_path(@order) %></li>
		  <% elsif view == 'history' %>
		    <li><%= link_to 'Productos', order_path(@order) %></li>
		  <% end %>
		<% end %>
		<li><%= link_to 'Lista de Pedidos', orders_path %> </li>
    <% end %>
<% end %>

<% if @order.deleted %><p class="error_message" >Este pedido ha sido anulado.</p><% end %>

<div class="column2-unit-left">
<p>
  <b>Proveedor:</b>
  <%=link_to @order.vendor.name, @order.vendor %>
</p>
<p>
  <b>Fecha Recibido:</b>
  <% if @order.received != nil %>
  	<%=h @order.received.to_date.to_s(:long) %>
  <% end %>
</p>
<p>
  <b>Usuario Responsable:</b>
  <%=link_to @order.user.login, @order.user %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_right(User::VIEW_PURCHASES)) %>
	<p>
		<b>Precio Total:</b>
		<%=h number_to_currency(@order.total_price) %>
	</p>
	<p>
		<b>Precio Total despues de IVA:</b>
		<%=h number_to_currency(@order.total_price_with_tax) %>
	</p>
<% end %>
	<p>
		<b>Numero de Factura:</b>
		<%= link_to (order.receipt_number||'Sin número'), show_receipt_url(@order) %>
	</p>
</div>
<div class="column2-unit-right">
<p>
  <b>Cliente:</b>
  <%=link_to @order.client.name, @order.client %><br />
  <% if @order.order_type_id == 1 and @order.client.birthday? %>  
  	<% flash[:important] = 'Este cliente esta cumpliendo anos..' %> 
  <% end %>
</p>
<% if @order.order_type_id==Order::PURCHASE %>
	<% if @order.scanned_receipt.exists? then %>
		<p><%= image_tag @order.scanned_receipt.url(:thumb) %></p>
	<% else %>
		<p> No hay ninguna factura escaneado para esta compra. </p>
	<% end %>
<% end %>
<p>
  <b>Fecha Solicitado:</b>
  <%=h @order.created_at.to_date.to_s(:long) %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_right('VIEW_COSTS')) %>
	<p>
  <b>Total Pagado:</b>
  <%=h number_to_currency(@order.amount_paid) %>
</p>
<% end %>
<% if @order.comments %>
	<p>
  <b>Comentarios:</b>
  <%=h @order.comments %>
</p>
<% end %>
</div>
<hr class="clear-contentunit" />
<% if @order.sequel or @order.prequel %>
	<div class="column2-unit-left">
		<% if @order.prequel %>
			<p>
				Esta venta es una continuacion de la venta:<% if @order.prequel.receipt_number %>
				<%=link_to @order.prequel.receipt_number, @order.prequel %>
				<% else %>
					<%=link_to @order.prequel.id, @order.prequel %>
				<% end %>
			</p>
		<% end %>
	</div>
	<div class="column2-unit-right">
		<% if @order.sequel %>
			<p>
				Esta venta se continua en la siguiente venta:<% if @order.sequel.receipt_number %>
				<%=link_to @order.sequel.receipt_number, @order.sequel %>
				<% else %>
					<%=link_to @order.sequel.id, @order.sequel %>
				<% end %>
			</p>
		<% end %>
	</div>
	<hr class="clear-contentunit" />
<% end %>
