<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% content_for(:javascript) do %>
  <%= javascript_include_tag "order_edit" %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar', 'submit("order_form")', :class => 'action' %></dt>
	<dt><%= link_to 'Cancelar', orders_url, :class => 'action' %></dt>
<% end %>

<% for error in @order.errors %>
	<p class="error_message">
		<%= error[0] %> <%= error[1] %>
	</p>
<% end %>

<%= f.hidden_field :order_type_id, :value => @order_type_id, :id=>'order_type_id' %>
<% case order_type_id
	when 2 %>
		<div class="column3-unit-left">
			<p>
				<b>Proveedor</b><br />
				<%= f.text_field :vendor_name, :class=> 'lookup field', :id => 'vendor_lookup',:style=>'width:168px;' %>
			</p>
			<%= f.hidden_field :client_id, :value => current_user.location.id %>
			
		</div>
		<div class="column3-unit-middle">
			<% if order_type_id==Order::PURCHASE %>
				<p>
					<b>Factura Escaneado</b><br />
					<%= f.file_field :scanned_receipt, :size=>20 %>
				</p>
			<% end %>
		</div>
	<% when 1 %>
		<div class="column3-unit-left">
			<p>
				<b>Cliente</b><br />
				<%= f.text_field :client_name, :class=> 'lookup field', :id => 'client_lookup',:style=>'width:168px;' %>
			</p>
			<%= f.hidden_field :vendor_id, :value => current_user.location.id %>
		</div>
		<div class="column3-unit-middle">
		
	    <p>
		    <b>Fecha de Pedido</b><br />
		    <%= f.text_field :created_at, :class=> 'field datepicker', :id => 'created_date_picker',:style=>'width:168px;' %>
	    </p>
		</div>
	<% when 3 %>
		<%= f.hidden_field :vendor_id, :value => current_user.location.id %>
		<%= f.hidden_field :client_id, :value => 1 %>
	<% else %>
		<div class="column3-unit-left">
			<p>
				<b>Proveedor</b><br />
				<%= f.text_field :vendor_name, :class=> 'lookup field', :id => 'vendor_lookup',:style=>'width:168px;' %>

			</p>
		</div>
		<div class="column3-unit-middle">
			<p>
				<b>Cliente</b><br />
				<%= f.text_field :client_name, :class=> 'lookup field', :id => 'client_lookup',:style=>'width:168px;' %>
			</p>
		</div>

<% end %>
	
<div class="column3-unit-right">
			<p>
				<b>Numero de Factura</b>
				<%= text_field_tag 'order[number]', @order.number %>
			</p>
			<p>
				<b>Anulado</b>
				<%= f.check_box :void, :class=> 'field'%>
			</p>
			<% if AUTO_PAY_OFF and mode='new' %>
				<p>
					<b>Aceptar Pago Inmediatamente</b>
					<%= check_box_tag :immediate_payment,1, :class=> 'field'%>
				</p>
			<% end %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<hr class="clear-contentunit" />

<div>
	<div class="table_header_row">
		<div class="table_cell_30">Producto</div>
		<div class="table_cell_10">Cantidad</div>
		<div class="table_cell_10">Precio por unidad</div>
		<div class="table_cell_20">Recibido <br /> / Num de Serie</div>
		<div class="table_cell_15">Meses de Garantía</div>	
		<div class="table_cell">Acciones</div>
	</div>
	<div id="lines">
		<%= render :partial => 'orders/line', :collection => @order.lines %>
	</div>
	<div id="lines_errors"></div>
	<%= link_to "Añadir otro producto | ", new_line_path(:order_id => @order.id), :id => "add_new_line", :class => 'action'  %>	  
</div>
<p>
  <b>Comentarios para los Movimientos</b><br />
  <%= f.text_area :comments, :class => 'comments' %>
</p>


	
