<% content_for(:javascript) do %>
  <%= javascript_include_tag "slider.jquery" %>
  <%= stylesheet_link_tag 'ui.slider.extras' %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<% case @order_type_id
	when 1%>
		<% if current_user.has_rights(['Admin','Gerente','Ventas']) %>
			<dt><%= link_to 'Nueva Venta', '/sales/new', :class => 'action' %></dt>
			<% if current_user.has_rights(['Suscripciones','Admin']) %>
			  <dt><%= link_to 'Lista de Suscripciones', subscriptions_url %></dt>
			<% end %>
		<% end %>
	 <% when 2 %>
		<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
			<dt><%= link_to 'Nueva Compra', '/purchases/new', :class => 'action' %></dt>
		<% end %>
	<% when 6 %>
		<% if current_user.has_rights(['Admin','Compras','Gerente','Ventas']) %>
			<dt><%= link_to 'Nuevas Etiquetas', '/labels/new', :class => 'action' %></dt>
		<% end %>
	<% when 3%>
		<% if current_user.has_rights(['Admin','Compras','Gerente','Ventas']) %>
			<dt><%= link_to 'Nuevo Consumo Interno', '/internal/new', :class => 'action' %></dt>
		<% end %>	
	<% when 4%>
		<% if current_user.has_rights(['Admin','Compras','Gerente','Ventas']) %>
			<dt><%= link_to 'Nueva Transferencia', '/transfer/new', :class => 'action' %></dt>
		<% end %>	
	<% when 5%>
		<% if current_user.has_rights(['Admin','Compras','Gerente','Ventas']) %>
			<dt><%= link_to 'Nueva Cuenta Fisica', '/count/new', :class => 'action' %></dt>
		<% end %>	
	<% else %>
		<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
			<dt><%= link_to 'Nueva Compra', '/purchases/new', :class => 'action' %></dt>
		<% end %>
		<% if current_user.has_rights(['Admin','Compras','Gerente','Ventas']) %>
			<dt><%= link_to 'Nuevo Consumo Interno', '/internal/new', :class => 'action' %></dt>
		<% end %>	
		<% if current_user.has_rights(['Admin','Gerente','Ventas']) %>
			<dt><%= link_to 'Nueva Venta', '/sales/new', :class => 'action' %></dt>
		<% end %>
	<% end %>
  <dt><%= link_to_function 'Actualizar', 'submit_index("date_range_form")', :class => 'action' %></dt>
  <dt><%= link_to_function 'Imprimir', 'submit_report("date_range_form")', :class => 'action' %></dt>
<% end %>

<% case @order_type_id 
		 when 2 %>
		<% content_for :title do %>Lista de Compras en <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => purchases_path ,:sites=>@sites } %>
	<% when 1%>
		<% content_for :title do %>Lista de Ventas en <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => sales_path ,:sites=>@sites } %>
	<% when 3%>
		<% content_for :title do %>Lista de Consumos Internos de <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => internals_path ,:sites=>@sites } %>
	<% when 4%>
		<% content_for :title do %>Lista de Transferencias de <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => transfers_path,:sites=>@sites } %>
	<% when 5%>
		<% content_for :title do %>Lista de Cuentas Fisicas de <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => counts_path,:sites=>@sites  } %>
	<% when 6%>
		<% content_for :title do %>Lista de Etiquetas<% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => false, :show_sites=>false,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => labels_path,:sites=>@sites  } %>
	<% else %>
		<% content_for :title do %>Lista de Pedidos en <%= current_user.location.name %><% end %>
		<%= render :partial => 'layouts/search', :locals => {:show_search => true, :show_sites=>true,  :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => orders_path,:sites=>@sites  } %>
<% end %>
<%= will_paginate @orders, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_10">Numero</div>
    <div class="table_cell_20">Proveedor</div>
    <div class="table_cell_20">Cliente</div>
    <div class="table_cell_15">Esperando</div>
    <div class="table_cell_15">Última Acción</div>
    <div class="table_cell">User</div>
  </div>
	<% for order in @orders %>
		<div class="table_row">
		  <% if order.deleted %><div class="strikethrough"><% end %>
		      <div class="table_cell_10"><%= link_to (order.receipt_number||'Sin número'), order %></div>
		      <div class="table_cell_20"><%= link_to order.vendor.name[0..25], order.vendor %></div>
		      <div class="table_cell_20"><%= link_to order.client.name[0..25], order.client %></div>
		      <div class="table_cell_15"><%= link_to awaiting(order), order_history_path(order)%></div> 
		      <div class="table_cell_15"><%=h last_action(order) %></div> 
		      <div class="table_cell"><%= link_to order.user.login, order.user %></div>
		  <% if order.deleted %></div><% end %>
		</div>
	<% end %>
</div>

<br />
<%= will_paginate @orders, :class => 'pagination' %>


