<%= render :partial => 'details', :locals => { :order => @order, :view =>'receipts' } %>

<p>
	<b>Facturas:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_20">Fecha</div>
		  <div class="table_cell_20">Factura</div>
		  <div class="table_cell_20">Total</div>
		  <div class="table_cell_20">Usuario</div>
		  <div class="table_cell">Acciones</div>
		</div>
		<% for receipt in @receipts %>
  <div class="table_row">
   	<% if receipt.deleted %><div class="strikethrough"><% end %>
    <div class="table_cell_20"><%= h receipt.created_at.to_date.to_s(:long) %></div>
    <div class="table_cell_20"><%= link_to "%05d" % receipt.number, receipt %></div>
    <div class="table_cell_20"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
    <div class="table_cell_20">
    	<% if receipt.user %>  	
    		<%=link_to receipt.user.login, receipt.user %>
    	<% end %>
    </div>
    <div class="table_cell">
    	<% if !receipt.deleted %>
    		<%=link_to "Cambiar", edit_receipt_path(receipt) %><br />
    		<%=link_to "Anular", destroy_receipt_path(receipt), :confirm => 'Esta seguro?' %>
    	<% end %>
    </div>
    <% if receipt.deleted %></div><% end %>
	</div>
<% end %>
	</div>
</p>

