
<% case @order.order_type_id
	when 4 %>
		<% content_for :title do %>Detalles de Transferencia #<%= @order.id %><% end %>
	<% when 1 %>
		<% content_for :title do %>Detalles de Venta #<%= @order.id %><% end %>
	<% when 2 %>
		<% content_for :title do %>Detalles de Compra #<%= @order.id %><% end %>
	<% when 3 %>
		<% content_for :title do %>Detalles de Consumo Interno #<%= @order.id %><% end %>
	<% else %>
		<% content_for :title do %>Detalles de Pedido #<%= @order.id %><% end %>
<% end %>
<% content_for :actions do %>
	<% case @order.order_type_id
	when 1 %>
		<% if current_user.has_rights(['admin','ventas','gerente']) %>
		    <% if !@order.deleted %>
    			<dt><%= link_to 'Nueva Venta', new_sale_path, :class => 'action' %></dt>
    			<dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
    			<dt><%= link_to 'Anular', @order, :confirm => 'Todas la líneas de esta venta serán marcados como no entregados y ya no se podrá cambiar. Está seguro que desea anularla?', :method => :delete %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			    <dt><%= link_to 'Facturar', show_receipt_path(:order_id => @order.id), :class => 'action' %></dt>
			<% end %>
		<% end %>
			<dt><%= link_to 'Productos', order_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
		<dt><%= link_to 'Lista de Ventas', sales_path, :class => 'action' %> </dt>
	<% when 2 %>
		<% if current_user.has_rights(['admin','compras','gerente']) %>
		    <% if !@order.deleted %>
    			<dt><%= link_to 'Nueva Compra', new_purchase_path, :class => 'action' %></dt>
			    <dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
			    <dt><%= link_to 'Anular', @order, :confirm => 'Todas la líneas de esta compra serán marcados como no entregados y ya no se podrá cambiar. Está seguro que desea anularla?', :method => :delete %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			<% end %>
			<dt><%= link_to 'Productos', order_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
			<dt><%= link_to 'Lista de Compras', purchases_path, :class => 'action' %> </dt>
		<% end %>
	<% else %>
		<% if current_user.has_rights(['admin','gerente']) %>
	        <% if !@order.deleted %>
			    <dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
			    <dt><%= link_to 'Anular', @order, :confirm => 'Todas la líneas de este pedido serán marcados como no entregados y ya no se podrá cambiar. Está seguro que desea anularlo?', :method => :delete %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			<% end %>
			<dt><%= link_to 'Productos', order_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
		<% end %>
		<dt><%= link_to 'Lista de Pedidos', orders_path, :class => 'action' %> </dt>
    <% end %>
<% end %>



<div class="column2-unit-left">
<p>
  <b>Proveedor:</b>
  <%=link_to @order.vendor.name, @order.vendor %>
</p>
<p>
  <b>Fecha Recibido:</b>
  <% if @order.received != nil %>
  	<%=h @order.received.to_date.to_s(:long) %>
  <% end %>
</p>
<p>
  <b>Numero de Factura:</b>
  <%=h @order.receipt_number %>
</p>
<p>
  <b>Usuario Responsable:</b>
  <%=link_to @order.user.login, @order.user %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
	<p>
		<b>Precio Total:</b>
		<%=h number_to_currency(@order.total_price) %>
	</p>
	<p>
		<b>Precio Total despues de IVA:</b>
		<%=h number_to_currency(@order.total_price_with_tax) %>
	</p>
<% end %>
</div>
<div class="column2-unit-right">
<p>
  <b>Cliente:</b>
  <%=link_to @order.client.name, @order.client %>
</p>
<p>
  <b>Fecha Solicitado:</b>
  <%=h @order.created_at.to_s %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
	<p>
  <b>Total Pagado:</b>
  <%=h number_to_currency(@order.amount_paid) %>
</p>
<% end %>

</div>
<hr class="clear-contentunit" />


<p>
	<b>Movimientos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_20">Tipo</div>
		  <div class="table_cell_20">Producto</div>
		  <div class="table_cell_20">Cantidad <br /> (Numero Serie)</div>
		  <div class="table_cell_20">Usuario</div>
		  <div class="table_cell">Fecha</div>
		</div>
		<% for movement in @order.movements.find(:all, :order => 'created_at desc') %>
  <div class="table_row">
    <div class="table_cell_20"><%= link_to movement.movement_type.name, movement.order %></div>
    <div class="table_cell_20"><%= link_to movement.product.name[0..20], movement.product %></div>
  	<% if movement.serialized_product %>
  		<div class="table_cell_20"><%= link_to "("+movement.serialized_product.serial_number.to_s+")", movement.serialized_product %></div>
  	<% else %>
  		<div class="table_cell_20"><%= h movement.quantity %></div>
  	<% end %>
    <div class="table_cell_20"><%= link_to movement.user.login, movement.user %></div>
    <div class="table_cell"><%=h movement.created_at.to_date.to_s %></div>
	</div>
<% end %>
	</div>
</p>

