<%= render :partial => 'details', :locals => { :order => @order, :view =>'products' } %>
<% if @payments.length > 0 %>
  <p>
	  <b>Pagos:</b>
	  <div>
      <div id="lines" class="table_header_row">
        <div class="table_cell_25">Cantidad</div>
        <div class="table_cell_25">Fecha</div>
        <div class="table_cell_25">Metodo</div>
        <div class="table_cell">Usuario</div>
	    </div>
		  <% for payment in @payments %>
      	<% if payment.canceled %><div class="strikethrough"><% end %>    
        <div class="table_row">  
          <div class="table_cell_25"><%= link_to number_to_currency(payment.amount), payment %></div>
          <div class="table_cell_25"><%= h payment.created_at.to_date %></div>
          <div class="table_cell_25"><%= h payment.payment_method.name %></div>
          <div class="table_cell"><%= link_to payment.user.login, payment.user %></div>
        </div>
        <% if payment.canceled %></div><% end %> 
      <% end %>
	  </div>
  </p>
<% end %>
<hr class="clear-contentunit" />
<p>
	<b>Productos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_30">Producto</div>
			<div class="table_cell_10">Cantidad</div>
			<div class="table_cell_15">Numero de Serie</div>
			<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
				<div class="table_cell_15">Precio<br />(Garantía) </div>
			<% end %>
			<div class="table_cell_15">Garantía Expira</div>
			<div class="table_cell">Entregado</div>
		</div>
		<% for line in @order.lines %>
			<div class="table_row">
				<div class="table_cell_30"><%=link_to line.product.name, line.product %></div>
				<div class="table_cell_10"><%=h line.quantity %></div>
				<% if line.product.serialized %>
					<% if line.serialized_product %>
						<div class="table_cell_15"><%=link_to line.serial_number, line.serialized_product %></div>
					<% else %>
						<div class="table_cell_15"><%=h line.serial_number %></div>
					<% end %>
				<% else %>
					<div class="table_cell_15">N/A</div>
				<% end %>
				<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
					<div class="table_cell_15">
					  <% if line.product.product_type_id==2 %>
					    <%=h '-' + number_to_currency(line.price) %>
					   <% else %>					    
					    <%=h number_to_currency(line.price) %>
					  <% end %>
						<% if (line.warranty_price || 0) > 0 %>
							<br />(<%= number_to_currency(line.warranty_price) %>)
						<% end %>
					</div>
				<% end %>
				<div class="table_cell_15">
				<% if line.warranty_expires %>
					<%=h line.warranty_expires.to_date.to_s %>
						<% if line.warranty_expires > Time.now %>
							(Activo)
						<% else %>
							(Expirado)
						<% end %>
				<% end %>
				</div>
				<div class="table_cell"><% if line.received %><%=h line.received.to_date.to_s %><% end %></div>
			</div>
		<% end %>
	</div>
</p>





