
<% case @order.order_type_id
	when 4 %>
		<% content_for :title do %>Detalles de Transferencia #<%= @order.id %><% end %>
	<% when 1 %>
		<% content_for :title do %>Detalles de Venta #<%= @order.id %><% end %>
	<% when 2 %>
		<% content_for :title do %>Detalles de Compra #<%= @order.id %><% end %>
	<% when 3 %>
		<% content_for :title do %>Detalles de Consumo Interno #<%= @order.id %><% end %>
	<% else %>
		<% content_for :title do %>Detalles de Pedido #<%= @order.id %><% end %>
<% end %>
<% content_for :actions do %>
	<% case @order.order_type_id
	when 1 %>
		<% if current_user.has_rights(['admin','ventas','gerente']) %>
		    <% if !@order.deleted %>
    			<dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			    <dt><%= link_to 'Facturar', show_receipt_path(:order_id => @order.id), :class => 'action' %></dt>
			<% end %>
		<% end %>
			<dt><%= link_to 'Historia', order_history_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
		<dt><%= link_to 'Lista de Ventas', sales_path, :class => 'action' %> </dt>
	<% when 2 %>
		<% if current_user.has_rights(['admin','compras','gerente']) %>
		    <% if !@order.deleted %>
			    <dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			<% end %>
			<dt><%= link_to 'Historia', order_history_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
			<dt><%= link_to 'Lista de Compras', purchases_path, :class => 'action' %> </dt>
		<% end %>
	<% else %>
		<% if current_user.has_rights(['admin','gerente']) %>
	        <% if !@order.deleted %>
			    <dt><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></dt>
			    <dt><%= link_to 'Añadir Pago', new_payment_path(:order_id=>@order.id), :class => 'action' %></dt>
			<% end %>
			<dt><%= link_to 'Historia', order_history_path(@order), :class => 'action' %></dt>
			<dt><%= link_to 'Pagos', payments_path(:search=>@order.id), :class => 'action' %></dt>
		<% end %>
		<dt><%= link_to 'Lista de Pedidos', orders_path, :class => 'action' %> </dt>
<% end %>
<% end %>

<% if @order.deleted %><h2 class="lineErrorExplanation" >Este pedido ha sido anulado.</h2><% end %>

<div class="column2-unit-left">
<p>
  <b>Proveedor:</b>
  <%=link_to @order.vendor.name, @order.vendor %>
</p>
<p>
  <b>Fecha Recibido:</b>
  <% if @order.received != nil %>
  	<%=h @order.received.to_date.to_s(:long) %>
  <% end %>
</p>
<p>
  <b>Numero de Factura:</b>
  <%=h @order.receipt_number %>
</p>
<p>
  <b>Usuario Responsable:</b>
  <%=link_to @order.user.login, @order.user %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
	<p>
		<b>Precio Total:</b>
		<%=h number_to_currency(@order.total_price) %>
	</p>
	<p>
		<b>Precio Total despues de IVA:</b>
		<%=h number_to_currency(@order.total_price_with_tax) %>
	</p>
<% end %>

</div>
<div class="column2-unit-right">
<p>
  <b>Cliente:</b>
  <%=link_to @order.client.name, @order.client %><br />
  <% if @order.order_type_id == 1 and @order.client.birthday? %>  
  	<% flash[:error] = 'Este cliente esta cumpliendo anos..' %> 
  <% end %>
</p>
<p>
  <b>Fecha Solicitado:</b>
  <%=h @order.created_at.to_s %>
</p>
<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
	<p>
  <b>Total Pagado:</b>
  <%=h number_to_currency(@order.amount_paid) %>
</p>
<% end %>

</div>
<hr class="clear-contentunit" />


<p>
	<b>Productos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_30">Producto</div>
			<div class="table_cell_10">Cantidad</div>
			<div class="table_cell_15">Numero de Serie</div>
			<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
				<div class="table_cell_15">Precio<br />(Garantía) </div>
			<% end %>
			<div class="table_cell_15">Garantía Expira</div>
			<div class="table_cell">Entregado</div>
		</div>
		<% for line in @order.lines %>
			<div class="table_row">
				<div class="table_cell_30"><%=link_to line.product.name, line.product %></div>
				<div class="table_cell_10"><%=h line.quantity %></div>
				<% if line.product.serialized %>
					<% if line.serialized_product %>
						<div class="table_cell_15"><%=link_to line.serial_number, line.serialized_product %></div>
					<% else %>
						<div class="table_cell_15"><%=h line.serial_number %></div>
					<% end %>
				<% else %>
					<div class="table_cell_15">N/A</div>
				<% end %>
				<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
					<div class="table_cell_15"><%=h number_to_currency(line.price) %>
						<% if (line.warranty_price || 0) > 0 %>
							<br />(<%= number_to_currency(line.warranty_price) %>)
						<% end %>
					</div>
				<% end %>
				<div class="table_cell_15">
				<% if line.warranty_expires %>
					<%=h line.warranty_expires.to_date.to_s %>
						<% if line.warranty_expires > Time.now %>
							(Activo)
						<% else %>
							(Expirado)
						<% end %>
				<% end %>
				</div>
				<div class="table_cell"><% if line.received %><%=h line.received.to_date.to_s %><% end %></div>
			</div>
		<% end %>
	</div>
</p>





