
<% content_for :title do %>Lista de Categorías<% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','compras','gerente']) %>
		<dt><%= link_to 'Nuevo producto', new_product_path, :class => 'action' %></dt>
		<dt><%= link_to 'Reaprovisionar', '/inventories?search=' + @search, :class => 'action' %></dt>
		<dt><%= link_to 'Lista de Precios', '/products/price_list?search=' + @search, :class => 'action' %></dt>
		<dt><%= link_to "Cambiar Precios", '/prices?search=' + @search, :class => 'action' %></dt>
	<% end %>
	<dt><%= link_to 'Movimientos', movements_url, :class => 'action' %></dt>
<% end %>
<br />
<%= will_paginate @product_categories, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_50">Categoría</div>
    <div class="table_cell">Acciones</div>
  </div>


<% for product_category in @product_categories %>
  <div class="table_row">
    <div class="table_cell_50"><%= link_to product_category.name, product_category %></div>
    <div class="table_cell"><%= link_to "Remover | ", product_category, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></div>
	</div>
<% end %>
</div>
<p>Para hacer nuevas categorías, simplemente asigna un producto a la categoría y se hará automaticamente</p>
<br />
<%= will_paginate @product_categories, :class => 'pagination' %>
