
<% content_for :title do %>Categoria <%= @product_category.name %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','compras','gerente']) %>
		<dt><%= link_to 'Nuevo producto', new_product_path %></dt>
    <dt><%= link_to 'Nueva Categoria', new_product_category_path %></dt>
    <dt><%= link_to 'Cambiar', edit_product_category_path(@product_category) %></dt>
    <dt><%= link_to "Borrar esta Categoría", @product_category, :confirm => 'Esta seguro?', :method => :delete %></dt>
    <dt><%= link_to 'Reaprovisionar', '/products/bulk_edit?search=' + @search.to_s %></dt>
    <dt><%= link_to "Cambiar Precios", '/products/edit_prices?search=' + @search.to_s %></dt>
	<% end %>
  <dt><%= link_to 'Lista', product_categories_path %></dt>
<% end %>
<% if current_user.has_rights(['admin','contabilidad','gerente']) %>
  <p>
	  <b>Cuenta de Ingresos</b><br />
	  <% if @product_category.revenue_account %>
		  <%=link_to @product_category.revenue_account.name, @product_category.revenue_account %>
	  <% end %>
  </p>
<% end %>
<p>
	<b>Productos en esta Categoria</b>
<div>
  <div class="table_header_row">
    <div class="table_cell_20">Nombre</div>
    <div class="table_cell_20">Proveedor</div>
    <div class="table_cell_5">Min</div>
    <div class="table_cell_5">Max</div>
    <div class="table_cell_10">Cantidad</div>
    <div class="table_cell_10">Precio</div>
    <% if current_user.has_rights(['admin','compras','gerente']) %>
    	<div class="table_cell_10">Costo</div>
    <% end %>
    <div class="table_cell">Upc</div>
  </div>
<% if @products %>
	<% for product in @products %>
		<div class="table_row">
		  <div class="table_cell_20"><%= link_to product.name[0..25], product %></div>
		  <div class="table_cell_20"><% if product.vendor %><%= link_to product.vendor.name[0..25], product.vendor %><% end %></div>
		  <div class="table_cell_5"><%=h product.min(current_user.location_id) %></div>
		  <div class="table_cell_5"><%=h product.max(current_user.location_id) %></div>
		  <div class="table_cell_10">
		  	<% if product.product_type_id==4 %>
		  		<h>Servicio </h>
		  	<% else %>
		  		<%=h current_user.location.inventory(product) %>
		  	<% end %>  
		  </div>
		  <div class="table_cell_10"><%=h number_to_currency(product.price) %></div>
		  <% if current_user.has_rights(['admin','compras','gerente']) %>
			  <div class="table_cell_10"><%=h number_to_currency(product.cost) %></div>
		  <% end %>
		  <div class="table_cell"><%=h product.upc %></div>
		 </div>
	<% end %>
<% end %>
<br />
</div>
</p>



