<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>

<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
    <% if mode == 'edit' %>
		<dt><%= link_to 'Ver', @subscription, :class => 'action' %></dt>
		<dt><%= link_to 'Remover', @subscription, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<% end %>
	<dt><%= link_to 'Lista', subscriptions_path, :class => 'action' %></dt>
	<dt><%= link_to_function 'Guardar', 'submit("subscription_form")', :class => 'action' %></dt>
<% end %>
<%= error_messages_for :subscription %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#client_lookup").autocomplete("/clients.js"); 
		$("#product_lookup").autocomplete("/products.js"); 
	  //Setup	date picker
	  $.datepicker.regional['es']
	  $(".datepicker").datepicker();
	});
</script>
<% form_for(@subscription, :html => {:id => 'subscription_form' }) do |f| %>
    <%= f.hidden_field :vendor_id, :value => current_user.location.id %>
	<div class="column2-unit-left">
		<p>
			<b>Producto</b><br />
			<%= f.text_field :product_name, :class=> 'lookup field', :id => 'product_lookup',:style=>'width:168px;' %>
		</p>
		<p>
			<b>Cantidad</b>
			<%= f.text_field :quantity, :class => 'field' %>
		</p>
		<p>
			<b>Precio Fijo (+)</b>
			<%= f.text_field :fixed_price, :class => 'field' %>
		</p>
		<p>
			<b>Fecha de Vencimiento</b><br />
			<%= f.text_field :end_date, :class=> 'field datepicker', :id => 'end_date',:style=>'width:168px;' %>
		</p>
	</div>
	<div class="column2-unit-right">
    <p>
      <b>Cliente</b><br />
			<%= f.text_field :client_name, :class=> 'lookup field', :id => 'client_lookup',:style=>'width:168px;' %>
		</p>
		<p>
			<b>Frequencia</b> (En meses)<br />
			<%= f.text_field :frequency, :class => 'field' %>
		</p>
		<p>
			<b>Precio Relativo (x)</b>
			<%= f.text_field :relative_price, :class => 'field' %>
		</p>
		<p>
			<b>Proxima Fecha</b>
			<%= f.text_field :next_order_date, :class=> 'field datepicker', :id => 'next_order_date',:style=>'width:168px;' %>
			
		</p>
		<p>
			<b>Cantidad de Números</b><br />
			(Deje en blanco para no usar esta opción)
			<%= f.text_field :end_times, :class => 'field' %>
		</p>

	</div>
	<hr class="clear-contentunit" />
	
<% end %>

