<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Lista de Suscripciones que se Procesaran<% end %>
<% content_for :actions do %>
	<dt><%= link_to 'Suscripción Nuevo', new_subscription_path %></dt>
	<dt><%= link_to_function 'Provisionar', 'submit("receipt_form")' %></dt>
<% end %>
<% form_tag process_subscriptions_url, :method =>'post', :id => 'receipt_form' do %>
<br />
  <div class="column3-unit-center">
    <p>
      <b>Cual será el primer numero de factura?</b><br />
    <%= text_field_tag :number, @next, :class => 'field'%>
    </p>
    <%= hidden_field_tag :search, @search %>
  </div>
<% end %>
<hr class="clear-contentunit" />
<h2>Haga clic en la cantidad para ver los detalles de la suscripción.</h2>
<br />
<div>
  <div class="table_header_row">
    <div class="table_cell_20">Cliente</div>
    <div class="table_cell_20">Producto</div>
    <div class="table_cell_15">Cantidad</div>
    <div class="table_cell_15">Precio</div>
    <div class="table_cell_15">Ultima Venta</div>
    <div class="table_cell">Acciones</div>
  </div>

	<% for subscription in @subscriptions %>
		<div class="table_row">
			<% if ((subscription.expiration || Date.today) < Date.today) or ((subscription.end_times||9) < 1) %><div class="strikethrough"><% end %>
		  <div class="table_cell_20"><%= link_to subscription.client.name, subscription.client %></div>
		  <div class="table_cell_20"><%= link_to subscription.product.name, subscription.product %></div>
			<div class="table_cell_15"><%= link_to subscription.quantity, subscription %></div>
		  <div class="table_cell_15"><%=h number_to_currency(subscription.price) %></div>
		  <div class="table_cell_15">
		      <% if subscription.last_line %>
		      	<% if subscription.last_line.received %>
		          <%= link_to subscription.last_line.received.to_date.to_s(:long), subscription.last_line.order %>
		      	<% end %>
		      <% end %>
		  </div>
		  <div class="table_cell">
		    <%= link_to 'Detalles', subscription %><br />
		  </div>
		  <% if ((subscription.expiration || Date.today) < Date.today) or ((subscription.end_times||9) < 1) %></div><% end %>
		</div>
	<% end %>
</div>
Total de Provisiones Recomendadas: <%= @subscriptions.length %>
<br />

