<% content_for :title do %><%=h @subscription.product.name %> para <%=h @subscription.client.name %><% end %>
<% content_for :actions do %>
    <% if current_user.has_rights(['admin','ventas','gerente']) %>
        <dt><%= link_to 'Nuevo', new_subscription_path %></dt>
        <dt><%= link_to 'Cambiar', edit_subscription_path(@subscription) %></dt>
    <% end %>
    <dt><%= link_to 'Lista', subscriptions_path %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Producto:</b>
		<%=link_to @subscription.product.name, @subscription.product %>
	</p>
	<p>
		<b>Cantidad:</b>
		<%=h @subscription.quantity %>
	</p>
	<p>
		<b>Precio Relativo:</b>
		<%=h @subscription.relative_price %>
	</p>
</div>
<div class="column2-unit-right">
	<p>
		<b>Precio:</b>
		<%=h @subscription.price %>
	</p>
	<p>
		<b>Precio Fijo:</b>
		<%=h @subscription.fixed_price %>
	</p>
</div>
<hr class="clear-contentunit" />

