<% content_for :title do %><%=h @subscription.product.name %> para <%=h @subscription.client.name %><% end %>
<% content_for :actions do %>
    <% if current_user.has_rights(['admin','ventas','gerente']) %>
        <dt><%= link_to 'Nuevo', new_subscription_path %></dt>
        <dt><%= link_to 'Cambiar', edit_subscription_path(@subscription) %></dt>
    <% end %>
    <dt><%= link_to 'Lista', subscriptions_path %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Producto:</b>
		<%=link_to @subscription.product.name, @subscription.product %>
	</p>
	<p>
		<b>Cantidad:</b>
		<%=h @subscription.quantity %>
	</p>
	<p>
		<b>Precio Relativo:</b>
		<%=h number_to_percentage(@subscription.relative_price||0) %>
	</p>
	<% if @subscription.end_date %>
		<p>
			<b>Fecha de Vencimiento:</b>
			<%=h @subscription.end_date %>
		</p>
	<% end %>
</div>
<div class="column2-unit-right">
	<p>
		<b>Cliente:</b>
		<%=link_to @subscription.client.name, @subscription.client %>
	</p>
	<p>
		<b>Frequencia:</b> (En meses)
		<%=h @subscription.frequency %>
	</p>
	<p>
		<b>Precio Fijo:</b>
		<%=h number_to_currency(@subscription.fixed_price||0) %>
	</p>
	<% if @subscription.end_times %>
		<p>
			<b>Cantidad de Numeros Restantes:</b>
			<%=h @subscription.end_times %>
		</p>		
	<% end %>
</div>
<hr class="clear-contentunit" />

