<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
<% if mode == 'edit' %>
		<li><%= link_to 'Ver', @warranty, :class => 'action' %></li>
		<li><%= link_to 'Remover', @warranty, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></li>
	<% end %>
	<li><%= link_to 'Lista', warranties_path, :class => 'action' %></li>
	<li><%= link_to_function 'Guardar', 'submit("warranty_form")', :class => 'action' %></li>
<% end %>

<%= error_messages_for :warranty %>
<script type="text/javascript">
  $(document).ready(function(){
	  $("#product_lookup").autocomplete("/products.js",{matchSubset:0, autoFill:1}); 
	});
</script> 
<% form_for(@warranty, :html => {:id => 'warranty_form' }) do |f| %>

	<div class="column2-unit-left">
		<p>
			<b>Producto</b><br />
			<%= f.text_field :product_name, :class=> 'lookup field', :id => 'product_lookup',:style=>'width:278px;' %>
		</p>
		<p>
		  <b>Duración en Meses</b><br />
		  <%= f.text_field :months, :class => 'field' %>
		</p>
	</div>
	<div class="column2-unit-right">

		<p>
			<b>Precio</b>
			<%= f.text_field :price, :class => 'field' %>
		</p>

	</div>
	<hr class="clear-contentunit" />
	
<% end %>

