
<% content_for :title do %><%= heading %><% end %>

<%= error_messages_for :warranty %>

<% form_for(@warranty) do |f| %>

	<div class="column2-unit-left">
		<p>
			<b>Producto</b>
			<%= f.collection_select(:product_id, get_products, :id, :name) %>
		</p>
		<p>
		  <b>Duración en Meses</b><br />
		  <%= f.text_field :months, :class => 'field' %>
		</p>
	</div>
	<div class="column2-unit-right">

		<p>
			<b>Precio</b>
			<%= f.text_field :price, :class => 'field' %>
		</p>

	</div>
	<hr class="clear-contentunit" />
	<% if mode == 'edit' %>
		<%= link_to 'Ver | ', @warranty, :class => 'action' %> |
		<%= link_to 'Remover | ', @warranty, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %> |
	<% end %>
	<%= link_to 'Lista | ', warranties_path, :class => 'action' %>
	<%= f.submit button_text, :class => 'action | ' %>
<% end %>

