
<% content_for :title do %>Lista de Garantías<% end %>
<% content_for :actions do %>
	<dt><%= link_to 'Garantía Nuevo', new_warranty_path, :class => 'action' %></dt>
<% end %>

<br />
<%= will_paginate @warranties, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_40">Producto</div>
    <div class="table_cell_20">Meses</div>
    <div class="table_cell_20">Precio</div>
    <div class="table_cell">Acciones</div>
  </div>
	<% for warranty in @warranties %>
		<div class="table_row">
		  <div class="table_cell_40"><%= link_to warranty.product.name, warranty.product %></div>
			<div class="table_cell_20"><%= link_to warranty.months, warranty %></div>
		  <div class="table_cell_20"><%= link_to number_to_currency(warranty.price), warranty %></div>
		  <div class="table_cell"><%= link_to 'Remover', warranty, :confirm => 'Esta seguro?', :method => :delete %></div>
		</div>
	<% end %>
</div>
<br />
<%= will_paginate @warranties, :class => 'pagination' %>

