<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Actualizar', 'submit("date_form")', :class => 'action' %></dt>
	<dt><%= link_to 'Reporte', payments_report_path(:till=>@till, :from=>@from) %></dt>
	<dt> <%= link_to 'Lista de Ventas', sales_url, :class => 'action' %>  </dt>
<% end %>
<% content_for :title do %>Lista de Facturas para <%= current_user.location.name %><% end %>
<% form_tag payments_path, :method =>'get', :id => 'date_form' do %>
	<div class="column2-unit-left">
		<p>
			<b>Desde</b><br />
		  <%= calendar_date_select_tag "from", @from, :time => false, :year_range => 10.years.ago..0.years.ago, :size=>20, :class => 'field' %>
		</p>
   </div>
   <div class="column2-unit-right">
    <p>
    	<b>Hasta</b><br />
  		<%= calendar_date_select_tag "till", @till, :time => false, :year_range => 10.years.ago..0.years.ago, :size=>20, :class => 'field' %>
    </p>
   </div>
<% end %>
<hr class="clear-contentunit" />
<%= will_paginate @payments, :class => 'pagination' %>
<div>
    <div id="lines" class="table_header_row">
        <div class="table_cell_20">Pedido</div>
        <div class="table_cell_20">Cantidad</div>
        <div class="table_cell_20">Fecha</div>
        <div class="table_cell_20">Metodo</div>
        <div class="table_cell">Usuario</div>
	</div>
    <% for payment in @payments %>
	    <div class="table_row">
		    <div class="table_cell_20"><%= link_to payment.order.id, payment.order %></div>
            <div class="table_cell_20"><%= link_to number_to_currency(payment.amount), payment %></div>
            <div class="table_cell_20">
		          <% if payment.created_at %>
		          	<%=h payment.created_at.to_date %>
		          <% end %>
            </div>
            <div class="table_cell_20"><%=h payment.payment_method.name %></div>
            <div class="table_cell"><%= link_to payment.user.login, payment.user %></div>
	    </div>
	<% end %>
</div>
<%= will_paginate @payments, :class => 'pagination' %>

