<% content_for(:javascript) do %>
  <%= javascript_include_tag "slider.jquery" %>
  <%= stylesheet_link_tag 'ui.slider.extras' %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Actualizar', 'submit_index("date_range_form")', :class => 'action' %></dt>
	<dt><%= link_to_function 'Reporte', 'submit_report("date_range_form")', :class => 'action' %></dt>
	<dt> <%= link_to 'Lista de Ventas', sales_url, :class => 'action' %>  </dt>
<% end %>
<% content_for :title do %>Lista de Pagos<% end %>
<%= render :partial => 'layouts/search', :locals => { :search => @search, :filter => @filter,:from => @from,:till => @till,:search_path => payments_path } %>

<%= will_paginate @payments, :class => 'pagination' %>
<div>
    <div id="lines" class="table_header_row">
        <div class="table_cell_20">Factura</div>
        <div class="table_cell_20">Cantidad</div>
        <div class="table_cell_20">Fecha</div>
        <div class="table_cell_20">Metodo</div>
        <div class="table_cell">Usuario</div>
	</div>
    <% for payment in @payments %>
	    <div class="table_row">
		    <div class="table_cell_20"><%= link_to payment.order.receipt, payment.order %></div>
            <div class="table_cell_20"><%= link_to number_to_currency(payment.amount), payment %></div>
            <div class="table_cell_20">
		          <% if payment.created_at %>
		          	<%=h payment.created_at.to_date %>
		          <% end %>
            </div>
            <div class="table_cell_20"><%=h payment.payment_method.name %></div>
            <div class="table_cell"><%= link_to payment.user.login, payment.user %></div>
	    </div>
	<% end %>
</div>
<%= will_paginate @payments, :class => 'pagination' %>

