<% content_for :title do %>Lista de Pagos<% end %>

<table>
  <tr>
    <th class="top" scope="col">Pedido</th>
    <th class="top" scope="col">Cantidad</th>
    <th class="top" scope="col">Fecha</th>
    <th class="top" scope="col">Metodo</th>
    <th class="top" scope="col">Usuario</th>
  </tr>

<% for payment in @payments %>
  <tr>
	  <td><%= link_to payment.order.id, payment.order %></td>
		<td><%= link_to '$'+payment.amount.to_s, payment %></td>
    <td><%=h payment.created_at.to_date %></td>
    <td><%=h payment.payment_method.name %></td>
    <td><%= link_to payment.user.login, payment.user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Pago', new_payment_path, :class => 'action' %>
