
<% content_for :title do %>Detalles de Pago<% end %>

<% content_for :actions do %>
	<% if current_user.has_rights(['admin','compras','ventas','gerente']) %>
		<dt><%= link_to 'Anular', destroy_payment_path(@payment) %></dt>
	<% end %>
	<dt><%= link_to 'Facturar', order_receipts_path(@payment.order) %> </dt>		
	<dt><%= link_to 'Lista de Pagos', payments_path %></dt>
<% end %>

<div class="column2-unit-left">
<p>
  <b>Numero de Pedido:</b>
  <%=link_to @payment.order.id, @payment.order %>
</p>

<p>
  <b>Cantidad Presentado:</b>
  <%=h number_to_currency((@payment.presented||0)) %>
</p>
<p>
  <b>Vuelto:</b>
  <%=h number_to_currency((@payment.returned||0)) %>
</p>
<p>
  <b>Total Cancelado:</b>
  <%=h number_to_currency((@payment.amount||0)) %>
</p>

</div>
<div class="column2-unit-right">
<p>
  <b>Usuario:</b>
  <%=link_to @payment.user.login,@payment.user %>
</p>
<p>
  <b>Fecha:</b>
  <%=h @payment.created_at.to_s(:long) %>
</p>
<p>
  <b>Metodo:</b>
  <%=h @payment.payment_method.name %>
</p>

</div>

