

<div class="line">
	<div class="table_row">
	<% fields_for "prices[]", line do |line_form| %>

				<div class="table_cell_35"><%= link_to line.product.name, line.product %></div>
				<div class="table_cell_10"><%= h number_to_currency(line.product.cost) %></div>
				<div class="table_cell_10"><%= h number_to_currency((line.fixed||0) + (line.relative||0) * (line.product.cost||0)) %></div>
				<div class="table_cell_10"><%= line_form.text_field :fixed, :class => 'field' %></div>
				<div class="table_cell_10"><%= line_form.text_field :relative, :class => 'field' %></div>
				<div class="table_cell"><%= line_form.text_field :available_str, :class => 'field' %></div>

		<%= line_form.hidden_field :id %>
		</div>
  <% end %>
</div>


