<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Lista de Precios para <%= current_user.location.name %><% end %>
<% content_for :actions do %>
  <dt><%= link_to_function 'Guardar', 'submit("prices_form")', :class => 'action' %></dt>
	<dt><%= link_to "Cancelar Cambios", prices_url, :class => 'action' %></dt>
	<dt> <%= link_to 'Lista de Productos', products_url, :class => 'action' %>  </dt>
	<dt> <%= link_to 'Imprimir', '/products/price_list?search=' + (@search||''), :class => 'action' %>  </dt>
<% end %>
<h2>
	<% form_for :user, @current_user, :html => {:id => 'scope_form' }, :url => {:controller=>'prices' , :search => params[:search], :action => "change_scope" } do |u| %>
		Con precios del grupo: <%= u.collection_select (:price_group_name_id, get_price_group_names, :id, :name, {}, {:onchange=>'submit("scope_form")'} )%>
		En :                   <%= u.collection_select (:location_id, get_locations, :id, :name,  {}, {:onchange=>'submit("scope_form")'})%>
	<% end %>
</h2>
<%= will_paginate @prices, :class => 'pagination' %>
<% form_for :@prices, :html => {:id => 'prices_form' }, :url => {:action => 'update'}, id => 1 do |f| %>
<div>
  <div id="lines" class="table_header_row">
		  <div class="table_cell_35">Nombre</div>
		  <div class="table_cell_10">Costo</div>
		  <div class="table_cell_10">Precio Actual</div>
		  <div class="table_cell_10">Precio Fijo</div>
		  <div class="table_cell_10">Precio Relativo</div>
		  <div class="table_cell">Disponible</div>
		</div>
		<div id="lines">
			<%= render :partial => 'line', :collection => @prices %>
		</div>
	</div>
	<br />
	<%= will_paginate @prices, :class => 'pagination' %>
<% end %>
<br />

