

<% content_for(:javascript) do %>
  <%= javascript_include_tag "discount_edit" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','compras','gerente']) %>
		<% if mode == 'edit' %>
			<dt> <%= link_to 'Remover', :class => 'action', :controller => "discounts", :action => "delete", :confirm => 'Esta seguro?', :method => :delete %> </dt>
		<% end %>
  <% end %>
  <dt> <%= link_to 'Ver', edit_discount_path(@discount), :class => 'action' %> </dt>
  <dt><%= link_to 'Lista', discounts_path, :class => 'action' %></dt>
<% end %>
<%= error_messages_for :discount %>
		
	  <%= f.hidden_field :unit_id, :value => 1 %>
	  <%= f.hidden_field :product_type_id, :value => 2 %>
	  
	<div class="column2-unit-left">
		<p>
		  <b>Nombre</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		 <p>
		  <b>Precio Fijo</b><br />
		  <%= f.text_field :static_price, :class => 'field' %>
		</p>
		<p><b>Catagoría</b><br />
			<%= text_field_with_auto_complete :product, :category_name, 
					{:class => 'field', :size=>30 }, 
					{:url => '/product_catagories.js', :skip_style=>1, :method => :get, :param_name => 'search' } %>
		</p>
		
	</div>
	<div class="column2-unit-right">
		
	<p>
	  <b>Codigo UPC</b><br />
	  <%= f.text_field :upc, :class => 'field' %>
	</p>

		 <p>
		  <b>Precio Relativo</b><br />
		  <%= f.text_field :relative_price, :class => 'field' %>
		</p>
		<p>
		  <b>Costo</b><br />
		  <%= f.text_field :cost, :class => 'field' %>
		</p>
		
	</div>
	
	<hr class="clear-contentunit" />

	
	<div>			
		<div class="table_header_row">
			<div class="table_cell_20">Nombre de Producto</div>
			<div class="table_cell_10">Cantidad</div>
			<div class="table_cell_10">Discuento Fijo</div>
			<div class="table_cell_10">Discuento Relativo</div>
			<div class="table_cell">Acciones </div>
		</div>
		<div id="requirements">
			<%= render :partial => 'requirement', :collection => @discount.requirements %>
		</div>
		<div id="requirements_errors"></div>
	</div>
	<%= f.submit button_text, :class => 'action'  %>
	
	
  
