

<% content_for(:javascript) do %>
  <%= javascript_include_tag "discount_edit" %>
  <%= javascript_include_tag "submit_link" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar', 'submit("discount_form");', :class => 'action' %></dt>
  <% if @mode =='edit' %>
 		<dt> <%= link_to 'Remover', :class => 'action', :controller => "discounts", :action => "delete", :confirm => 'Esta seguro?', :method => :delete %> </dt>
    <dt><%= link_to 'Lista de Descuentos', discounts_path, :class => 'action' %></dt>
  <% end %>
    <dt><%= link_to 'Cancelar', discount_path(@discount), :class => 'action' %></dt>
<% end %>
<%= error_messages_for :discount %>
		
	  <%= f.hidden_field :unit_id, :value => 1 %>
	  <%= f.hidden_field :vendor_id, :value => 1 %>
	  <%= f.hidden_field :product_type_id, :value => 2 %>
	  
	<div class="column2-unit-left">
		<p>
		  <b>Nombre</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		 <p>
		  <b>Precio Fijo</b><br />
		  <%= f.text_field :static_price, :class => 'field' %>
		</p>
		<p><b>Catagoría</b><br />
		<%= f.text_field :category_name, :class=> 'lookup field', :id => 'category_lookup',:style=>'width:247px;' %>
		</p>
		
	</div>
	<div class="column2-unit-right">
		
		<p>
			<b>Codigo UPC</b><br />
			<%= f.text_field :upc, :class => 'field' %>
		</p>

		 <p>
		  <b>Precio Relativo</b><br />
		  <%= f.text_field :relative_price, :class => 'field' %>
		</p>
		<p>
		  <b>Costo</b><br />
		  <%= f.text_field :cost, :class => 'field' %>
		</p>
		
	</div>
	
	<hr class="clear-contentunit" />

	
	<div>			
		<div class="table_header_row">
			<div class="table_cell_20">Nombre de Producto</div>
			<div class="table_cell_10">Cantidad</div>
			<div class="table_cell_10">Descuento Fijo</div>
			<div class="table_cell_10">Descuento Relativo</div>
			<div class="table_cell">Acciones </div>
		</div>
		<div id="requirements">
			<%= render :partial => 'requirement', :collection => @discount.requirements %>
		</div>
		<div id="requirements_errors"></div>
	</div>
	
	
	
  
