<% content_for :actions do %>
	<% if current_user.has_rights(['admin','gerente']) %>
		<dt> <%= link_to 'Nuevo discuento', new_discount_path, :class => 'action' %> </dt>
	<% end %>
<% end %>

<% content_for :title do %>Lista de Discuentos<% end %>
<h2>
	<div class="table_cell">Mostrando precios del grupo: <%= current_user.current_price_group.price_group_name.name %></div>
</h2>
<div>
  <div class="table_header_row">
    <div class="table_cell_30">Nombre</div>
    <div class="table_cell_30">Discuento</div>
    <div class="table_cell">Upc</div>
  </div>

<% for discount in @discounts %>
  <div class="table_row">
    <div class="table_cell_30"><%= link_to discount.name[0..25], discount_path(discount) %></div>
    <div class="table_cell_30"><%=h number_to_currency(discount.price) %></div>
    <div class="table_cell"><%=h discount.upc %></div>
   </div>
<% end %>
<br />
<%= will_paginate @discounts %>
</div>



