<% content_for :title do %><%=h @discount.name %> - <%=h @discount.upc %><% end %>
<% content_for :actions do %>
	<li> <%= link_to 'Nuevo Descuento', new_discount_path, :class => 'action' %> </li>
	<li> <%= link_to 'Cambiar', edit_discount_path(@discount), :class =>'action' %>  </li>
	<li> <%= link_to 'Lista', discounts_path, :class =>'action' %> </li>
<% end %>

<h2>
	<div class="table_cell">Mostrando precios del grupo: <%= current_user.current_price_group.price_group_name.name %></div>
</h2>
<div class="column2-unit-left">
	<p>
	  <b>Discuento Fijo</b><br />
	  <%=h number_to_currency(@discount.static_price) %>
	</p>
	<p>
	  <b>Discuento Relativo</b><br />
	  <%=h number_to_percentage((@discount.relative_price||0)*100, :precision => 0) %>
	</p>
	<p>
    <b>Catagoría</b><br />
    <% if @discount.product_category %>
    	<%=h @discount.product_category.name %>
    <% end %>
  </p>
</div>
<div class="column2-unit-right">
	<%= link_to(image_tag(@discount.barcode_filename, :style=>'border:none;'), show_barcode_url(@discount)) %>
	<p>
	  <b>Descuento Total Actual</b><br />
	  <%=h number_to_currency(@discount.price) %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
  <b>Descripción:</b>
  <%=h @discount.description %>
</p>
<p>
	<b>Requisitos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_25">Nombre de Producto</div>
			<div class="table_cell_15">Cantidad</div>
			<div class="table_cell_10">Precio Regular</div>
			<div class="table_cell_10">Precio Fijo</div>
			<div class="table_cell_10">Precio Relativo</div>
			<div class="table_cell_15">Precio Actual</div>
			<div class="table_cell">UPC</div>
		</div>
		<% for requirement in @discount.requirements %>
			<div class="table_row">
				<div class="table_cell_25"><%=link_to requirement.required.name, requirement.required %></div>
				<div class="table_cell_15"><%=h requirement.quantity %></div>
				<div class="table_cell_10"><%=h number_to_currency(requirement.required.price) %></div>
				<div class="table_cell_10"><%=h number_to_currency(requirement.static_price) %></div>
				<div class="table_cell_10"><%=h number_to_percentage(requirement.relative_price*100, :precision => 0) %></div>
				<div class="table_cell_15"><%=h number_to_currency(requirement.price) %></div>
				<div class="table_cell"><%=link_to requirement.required.show_upc, requirement.required %></div>
			</div>
		<% end %>
	</div>
</p>
<p>
	<b>Disponibilidad:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_80">Locacion</div>
			<div class="table_cell">Disponible </div>
		</div>
		<% for location in get_locations %>
			<div class="table_row">
				<div class="table_cell_80"><%=link_to location.name, :controller => "movements", :search => @discount.upc %></div>
				<div class="table_cell">
					<%= puts location.price_groups.inspect %>
					<% if location.price_groups.find_by_price_group_name_id(User.current_user.price_group_name.id) %>
						<% if @discount.available(location.price_groups.find_by_price_group_name_id(User.current_user.price_group_name.id))%>
							Si
						<% else %>
							No
						<% end %>
					<% else %>
							No
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</p>


