<% content_for :actions do %>
	<% if current_user.has_rights(['admin','gerente']) %>
		<li> <%= link_to 'Nuevo combo', new_combo_path, :class => 'action' %> </li>
	<% end %>
<% end %>

<% content_for :title do %>Lista de combos<% end %>
<h2>
	<div class="table_cell">Mostrando precios del grupo: <%= current_user.current_price_group.price_group_name.name %></div>
</h2>
<%= will_paginate @combos, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_30">Nombre</div>
    <div class="table_cell_20">Inventario</div>
    <div class="table_cell_20">Precio</div>
    <div class="table_cell">Upc</div>
  </div>

	<% for combo in @combos %>
		<div class="table_row">
		  <div class="table_cell_30"><%= link_to combo.name[0..25], combo_path(combo) %></div>
		  <div class="table_cell_20"><%= h combo.quantity %></div>
		  <div class="table_cell_20"><%=h number_to_currency(combo.price) %></div>
		  <div class="table_cell"><%=h combo.show_upc %></div>
		 </div>
	<% end %>
</div>
<br />
<%= will_paginate @combos, :class => 'pagination' %>


