<% content_for :title do %><%=h @combo.name %> - <%=h @combo.upc %><% end %>
<% content_for :actions do %>
	<dt> <%= link_to 'Cambiar', edit_combo_path(@combo), :class =>'action' %>  </dt>
	<dt> <%= link_to 'Lista', combos_path, :class =>'action' %> </dt>
<% end %>

<h2>
	<div class="table_cell">Mostrando precios del grupo: <%= current_user.current_price_group.price_group_name.name %></div>
</h2>
<div class="column2-unit-left">
	<p>
	  <b>Precio Fijo</b><br />
	  <%=h number_to_currency(@combo.static_price) %>
	</p>
	<p>
	  <b>Precio Relativo</b><br />
	  <%=h number_to_currency(@combo.relative_price) %>
	</p>
	<p>
    <b>Catagoría</b><br />
    <% if @combo.product_category %>
    	<%=h @combo.product_category.name %>
    <% end %>
  </p>
</div>
<div class="column2-unit-right">
	<p>
	  <b>Precio Total Actual</b><br />
	  <%=h number_to_currency(@combo.price) %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
  <b>Descripcion:</b>
  <%=h @combo.description %>
</p>
<p>
	<b>Componentes:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_25">Nombre de Producto</div>
			<div class="table_cell_15">Cantidad</div>
			<div class="table_cell_15">Precio Fijo</div>
			<div class="table_cell_15">Precio Relativo</div>
			<div class="table_cell_15">Precio Total</div>
			<div class="table_cell">UPC</div>
		</div>
		<% for requirement in @combo.requirements %>
			<div class="table_row">
				<div class="table_cell_25"><%=link_to requirement.required.name, combo_path(requirement.required) %></div>
				<div class="table_cell_15"><%=h requirement.quantity %></div>
				<div class="table_cell_15"><%=h requirement.static_price %></div>
				<div class="table_cell_15"><%=h requirement.relative_price %></div>
				<div class="table_cell_15"><%=h requirement.price %></div>
				<div class="table_cell"><%=link_to requirement.required.show_upc, requirement.required %></div>
			</div>
		<% end %>
	</div>
</p>
<p>
	<b>Disponibilidad:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_80">Locacion</div>
			<div class="table_cell">Cantidad </div>
		</div>
		<% for location in get_locations %>
			<div class="table_row">
				<div class="table_cell_80"><%=link_to location.name, :controller => "movements", :search => @combo.upc
 %></div>
				<div class="table_cell"><%=h location.inventory(@combo) %></div>
			</div>
		<% end %>
	</div>
</p>


