<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Nuevas Facturas para Clientes con Suscripciones<% end %>
<% content_for :actions do %>

	<dt><%= link_to 'Cancelar', subscriptions_url %></dt>
	<dt><%= link_to_function 'Generar', '$("receipt_form").submit();' %></dt>
<% end %>

<%= error_messages_for :receipt %>


<% form_tag create_batch_receipts_url, :method =>'post', :id => 'receipt_form' do %>
<br />
  <div class="column3-unit-center">
    <p>
      <b>Cual será el primer numero de factura?</b><br />
    <%= text_field_tag :number, @next, :class => 'field'%>
    </p>
  </div>
<% end %>


