
<% content_for :title do %>Lista de Facturas No Pagadas<% end %>

<% content_for :actions do %>
	<dt><%= link_to 'Facturas hechas hoy', todays_receipts_path %></dt>
	<dt><%= link_to 'Suscrip. procesadas', todays_sales_path %></dt>
<% end %>
<br />
<%= will_paginate @receipts, :class => 'pagination' %>
<div>
  <div class="table_header_row">
			<div class="table_cell_15">Fecha</div>
		  <div class="table_cell_15">Cliente</div>
		  <div class="table_cell_15">Venta</div>
		  <div class="table_cell_15">Factura</div>
		  <div class="table_cell_10">Total</div>
		  <div class="table_cell_10">Pagos</div>
		  <div class="table_cell">Acciones</div>
		</div>


<% for receipt in @receipts %>
  <div class="table_row">
    <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
    <div class="table_cell_15"><%= link_to receipt.order.client.name, receipt.order.client %></div>
    <div class="table_cell_15"><%= link_to receipt.order_id, receipt.order %></div>
    <div class="table_cell_15"><%= link_to "%05d" % receipt.number, receipt %></div>
    <div class="table_cell_10"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
    <div class="table_cell_10"><%= h number_to_currency(receipt.order.amount_paid) %></div>
    <div class="table_cell"><%=link_to 'Marcar Pagada', pay_off_url(receipt.order) %></div>
	</div>
<% end %>
</div>
<br />
<%= will_paginate @receipts, :class => 'pagination' %>
