<% content_for :title do %>Detalles de Cuenta Fisica #<%= @order.id %><% end %>
<% content_for :actions do %>
	<% if current_user.has_right(User::VIEW_COUNTS) %>
		<% if @order.last_received == nil %>
			<li><%= link_to 'Cambiar', edit_order_path(@order), :class => 'action' %></li>
			<li><%= link_to 'Procesar', post_count_path(@order), :class => 'action' %></li>
		<% end %>
		<li><%= link_to 'Nueva Cuenta Fisica', '/count/new', :class => 'action' %></li>
		<li><%= link_to 'Imprimir', count_sheet_url, :class => 'action' %></li>
		<li><%= link_to 'Lista', '/counts', :class => 'action' %></li>
	<% end %>
<% end %>
<% if @order.deleted %><p class="error_message" >Este pedido ha sido anulado.</p><% end %>
<div class="column2-unit-left">

	<p>
    <b>Sitio</b><br />
    <%=h @order.vendor.name %>
  </p>
	<p>
    <b>Description</b><br />
    <%=h @order.comments %>
  </p>
	<p>
		<b>Fecha Aplicado:</b>
		<% if @order.received != nil %>
			<%=h @order.received.to_date.to_s(:long) %>
		<% end %>
	</p>


</div>
<div class="column2-unit-right">
	<p>
		<b>Total de diferencia:</b>
		<%=h number_to_currency(@order.grand_total) %>
	</p>
	<p>
		<b>Usuario Responsable:</b>
		<%=link_to @order.user.login, @order.user %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
	<b>Productos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_30">Producto</div>
			<% if @order.last_received != nil %>
				<div class="table_cell_10">Cantidad Anterior</div>
			<% else %>
				<div class="table_cell_10">Cantidad Actual</div>
			<% end %>
				<div class="table_cell_10">Cuenta</div>
			<div class="table_cell_15">Numero de Serie</div>
			<% if !(@order.order_type_id==2) or (current_user.has_rights(['admin','compras','gerente'])) %>
				<div class="table_cell_15">Valor de Differencia</div>
			<% end %>
			<div class="table_cell">Aplicado</div>
		</div>
		<% for line in @order.lines %>
			<div class="table_row">
				<div class="table_cell_30"><%=link_to line.product.name, line.product %></div>
				<% if line.received %>
					<div class="table_cell_10"><%=h line.previous_qty %></div>
				<% else %>
					<div class="table_cell_10"><%=h line.product.quantity %></div>
				<% end %>
				<div class="table_cell_10"><%=h line.quantity %></div>
				<% if line.product.serialized %>
					<% if line.serialized_product %>
						<div class="table_cell_15"><%=link_to line.serial_number, line.serialized_product %></div>
					<% else %>
						<div class="table_cell_15"><%=h line.serial_number %></div>
					<% end %>
				<% else %>
					<div class="table_cell_15">N/A</div>
				<% end %>
				<div class="table_cell_15"><%=h number_to_currency(line.total_price||0) %></div>
				<div class="table_cell"><% if line.received %><%=h line.received.to_date.to_s %><% end %></div>
			</div>
		<% end %>
	</div>
</p>
