<% content_for(:javascript) do %>
  <%= javascript_include_tag "product_edit" %>
  <%= javascript_include_tag "submit_link" %>
<% end %>

<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','gerente']) %>
		<dt><%= link_to_function 'Guardar', 'submit("product_form")', :class => 'action' %></dt>
		<% if mode == 'edit' %>
			<dt> <%=link_to 'Lista', products_path, :class => 'action' %></dt>
		<% end %>
  <dt> <%= link_to 'Cancelar', @product, :class => 'action' %>  </dt>
  <% end %>
<% end %>
<%= error_messages_for :product %>

<% form_for @product, :html => {:id => 'product_form' } do |f| %>
		
  <%= f.hidden_field :product_type_id, :value => 1 %>
	<div class="column2-unit-left">
		<p>
		  <b>Nombre</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		 <p>
		  <b>Precio Fijo (+)</b><br />
		  <%= f.text_field :static_price, :class => 'field' %>
		</p>
		<p>
			<b>Codigo UPC</b><br />
			<%= f.text_field :upc, :id => 'upc', :class => 'field' %>
		</p>
		<p>
		  <b>Costo por Defualt</b><br />
		  <%= f.text_field :default_cost, :class => 'field' %>
		</p>
		<p>
			<b>Numero de Modelo</b>
			<%= f.text_field :model, :class => 'field' %>
		</p>
		<% if mode == 'new' %>
			<p>
				<%= f.check_box :serialized, :class => 'field' %><b> Usar Numeros de Serie</b>
			</p>
		<% end %>
	</div>
	<div class="column2-unit-right">
		<p><b>Proveedor</b><br />
			<%= text_field_with_auto_complete :product, :vendor_name, 
					{:class => 'field', :size=>30 }, 
					{:url => '/vendors.js', :skip_style=>1, :method => :get, :param_name => 'search' } %>
		</p>
		 <p>
		  <b>Precio Relativo (x)</b><br />
		  <%= f.text_field :relative_price, :class => 'field' %>
		</p>
		<p><b>Categoría</b><br />
			<%= text_field_with_auto_complete :product, :category_name, 
					{:class => 'field', :size=>30 }, 
					{:url => '/product_categories.js', :skip_style=>1, :method => :get, :param_name => 'search' } %>
		</p>

		<% if mode == 'edit' %>
			<p>
				<b>Costo</b><br />
				<input disabled class="field" value= <%= number_to_currency(@product.cost) %> >
			</p>	
		<% end %>
		
		<p>
		  <b>Ubicacion</b><br />
		  <%= f.text_field :location, :class => 'field' %>
		</p>
		
	  <% if current_user.has_rights(['admin','contabilidad','gerente']) %>
			<p>
				<b>Cuenta de Ingresos</b><br />
				Si desea, puede especificar una cuenta en que poner los ingresos para este producto.<br />
				<%= f.collection_select(:revenue_account_id, get_accounts, :id, :name, {:include_blank => true}) %>
			</p>
		<% end %>
	</div>
	<hr class="clear-contentunit" />
	<div class="column3-unit-left">
	<p>
		  <b>Minimo</b><br />
		  <%= f.text_field :min, :class => 'field', :size=>10 %>
		</p>
	</div>
	<div class="column3-unit-middle">
		<p>
		  <b>Maximo</b><br />
		  <%= f.text_field :max, :class => 'field', :size=>10 %>
		</p>
	</div>
	<% if mode == 'new' %>
	<div class="column3-unit-right">
	<p>
	  <b>Unidad</b><br />
	  <%= text_field_with_auto_complete :product, :unit_name, 
	  				{:class => 'field', :size=>10 }, 
	  				{:url => formatted_units_path(:js), :skip_style=>1, :method => :get, :param_name => 'search' } %>
	</p>

	</div>
	<% end %>
	<hr class="clear-contentunit" />
	<p>
	  <b>Descripcion</b><br />
	  <%= f.text_area :description %>
	</p>
	
<% end %>



