<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %><%= heading %><% end %>
<% content_for :actions do %>
	<% if current_user.has_right(User::CHANGE_PRODUCTS) %>
		<dt><%= link_to_function 'Guardar', 'submit("product_form")', :class => 'action' %></dt>
		<% if mode == 'edit' %>
			<dt> <%=link_to 'Lista', products_path, :class => 'action' %></dt>
		<% end %>
  <dt> <%= link_to 'Cancelar', @product, :class => 'action' %>  </dt>
  <% end %>
<% end %>

<script type="text/javascript">
	function check_box(e) {
		e.prev(":check_box").attr( "checked", "true" );
		e.closest(".warranty").slideUp("slow");
	}
	$(document).ready(function(){
		$("#upc").keydown(function(e){
			if (e.keyCode == 13) {
				e.preventDefault();
				return false;
			}
		});
		$("#vendor_lookup").autocomplete("/vendors.js",{matchSubset:0, autoFill:1}); 
		$("#unit_lookup").autocomplete("/units.js",{matchSubset:0, autoFill:1}); 
		$("#category_lookup").autocomplete("/product_categories.js",{matchSubset:0, autoFill:1});
		$("#revenue_account_lookup").autocomplete("/accounts.js?filter=child",{matchSubset:0, autoFill:1});
	});
</script>
<% for error in @product.errors %>
	<p class="error_message">
		<%= error[0] %> <%= error[1] %>
	</p>
<% end %>

<div id="warranty_model" style="display:none;">
	<div class="warranty" style="display:none;">				
		<div class="table_row">
			<div class="table_cell_30"><input type="text" value="0" size="30" name="product[warranties_attributes][xxx][months]" id="product_warranties_attributes_xxx_months" class="field"/></div>
			<div class="table_cell_30"><input type="text" value="0.00" size="30" name="product[warranties_attributes][xxx][price]" id="product_warranties_attributes_xxx_price" class="field"/></div>
			<div class="table_cell">
				<input type="checkbox" value="0" style="display: none;" name="product[warranties_attributes][xxx][_delete]" id="product_warranties_attributes_xxx__delete"/>
				<a onclick="check_box($(this)); return false;" href="#">Remover</a>
			</div>
		</div>
	</div>
</div>


<% form_for @product, :html => {:id => 'product_form',:multipart => true } do |f| %>
		
  <%= f.hidden_field :product_type_id, :value => 1 %>
	<div class="column2-unit-left">
		<p>
		  <b>Nombre</b><br />
		  <%= f.text_field :name, :class => 'field' %>
		</p>
		 <p>
		  <b>Precio Fijo (+)</b><br />
		  <%= f.text_field :static_price, :class => 'field' %>
		</p>
		<p>
			<b>Codigo UPC</b><br />
			<%= f.text_field :upc, :id => 'upc', :class => 'field' %>
		</p>
		<p>
		  <b>Costo por Defualt</b><br />
		  <%= f.text_field :default_cost, :class => 'field' %>
		</p>
		<p>
			<b>Numero de Modelo</b>
			<%= f.text_field :model, :class => 'field' %>
		</p>
		<% if mode == 'new' %>
			<p>
				<%= f.check_box :serialized, :class => 'field' %><b> Usar Numeros de Serie</b>
			</p>
		<% end %>
	</div>
	<div class="column2-unit-right">
		<p><b>Proveedor</b><br />
			<%= f.text_field :vendor_name, :class=> 'lookup field', :id => 'vendor_lookup',:style=>'width:168px;' %>
		</p>
		 <p>
		  <b>Precio Relativo (x)</b><br />
		  <%= f.text_field :relative_price, :class => 'field' %>
		</p>
		<p><b>Categoría</b><br />
			<%= f.text_field :category_name, :class=> 'lookup field', :id => 'category_lookup',:style=>'width:168px;' %>
		</p>
		<p>
			<b>Imagen</b><br />
			<%= f.file_field :image, :size=>20 %>
		</p>
		<% if mode == 'edit' %>
			<p>
				<b>Costo</b><br />
				<input disabled class="field" value= <%= number_to_currency(@product.cost) %> >
			</p>	
		<% end %>
		
		<p>
		  <b>Ubicacion</b><br />
		  <%= f.text_field :location, :class => 'field' %>
		</p>
		
	  <% if current_user.has_right(User::CHANGE_ACCOUNTS) %>
			<p>
				<b>Cuenta de Ingresos</b><br />
				Si desea, puede especificar una cuenta en que poner los ingresos para este producto.<br />
				<%= f.text_field :revenue_account_id, :class=> 'lookup field', :id => 'revenue_account_lookup',:style=>'width:168px;' %>
			</p>
		<% end %>
	</div>
	<hr class="clear-contentunit" />
	<div class="column3-unit-left">
	<p>
		  <b>Minimo</b><br />
		  <%= f.text_field :min, :class => 'field',:style=>'width:100px;' %>
		</p>
	</div>
	<div class="column3-unit-middle">
		<p>
		  <b>Maximo</b><br />
		  <%= f.text_field :max, :class => 'field',:style=>'width:100px;' %>
		</p>
	</div>
	<div class="column3-unit-right">
		<p>
			<b>Unidad</b><br />
			<%= f.text_field :unit_name, :class=> 'lookup field', :id => 'unit_lookup',:style=>'width:100px;' %>
		</p>
	</div>
	<hr class="clear-contentunit" />
	<p>
	  <b>Descripcion</b><br />
	  <%= f.text_area :description %>
	</p>
	
	<p>
		<b>Garantias:</b>
	</p>
	<div>
		<div class="table_header_row">
	  <div class="table_cell_30">Meses</div>
	  <div class="table_cell_30">Precio</div>
	  <div class="table_cell">Acciones</div>
	</div>
	<div id="warranties">
		<% f.fields_for :warranties do |child_form| %>
			<%= render :partial => "warranty", :locals => {:child_form=>child_form} %>
		<% end %>
	</div>
	
	<p>
		<%= add_warranty_link 'Add Warranty'  %>
	</p>
<% end %>



