
<div class="line">

	<% @order=line.to_order(current_user.location_id)||0
	@min=line.min(current_user.location_id)||0
	@max=line.max(current_user.location_id)||0
	@inventory=current_user.location.inventory(line)||0  %>
	
	<% if @order > 0  %>
		<div class="table_row_green">
	<% else %>
		<% if @min > @inventory %>
			<div class="table_row_red">
		<% else %>
			<div class="table_row">
		<% end %>
	<% end %>
	<% fields_for "products[]", line do |line_form| %>

				<div class="table_cell_25"><%= link_to line.name, line %></div>
				<div class="table_cell_25"><%= link_to line.vendor.name, line.vendor %></div>
				<div class="table_cell_10"><%= h line.min(current_user.location_id) %></div>		  
				<div class="table_cell_10"><%= h line.max(current_user.location_id) %></div>
				<div class="table_cell_10"><%= h current_user.location.inventory(line) %></div>
				<div class="table_cell"><%= line_form.text_field :to_order, :class => 'field' %></div>

		<%= line_form.hidden_field :id %>
		</div>
  <% end %>
</div>


