<div class="line">
	<div class="table_row">
	<% fields_for "products[]", prices_line do |line_form| %>

				<div class="table_cell_35"><%= link_to prices_line.name, prices_line %></div>
				<div class="table_cell_25"><%= link_to prices_line.vendor.name, prices_line.vendor %></div>
				<div class="table_cell_10"><%= h number_to_currency(prices_line.cost) %></div>
				<div class="table_cell_10"><%= h number_to_currency(prices_line.price) %></div>
				<div class="table_cell_10"><%= line_form.text_field :static_price, :class => 'field' %></div>
				<div class="table_cell"><%= line_form.text_field :relative_price, :class => 'field' %></div>

		<%= line_form.hidden_field :id %>
		</div>
  <% end %>
</div>


