
<% content_for :title do %>Lista de Productos<% end %>

<% form_for :@products, :url => {:action => 'update_prices'}, id => 1 do |f| %>
<div>
  <div id="lines" class="table_header_row">
		  <div class="table_cell_35">Nombre</div>
		  <div class="table_cell_10">Costo</div>
		  <div class="table_cell_10">Precio Actual</div>
		  <div class="table_cell_10">Precio Fijo</div>
		  <div class="table_cell_10">Precio Relativo</div>
		  <div class="table_cell">Disponible</div>
		</div>
		<div id="lines">
			<%= render :partial => 'prices_line', :collection => @products %>
		</div>
	</div>
	<%= submit_tag "Guardar Cambios | ", :class => 'action' %>
	<%= link_to "Limpiar | ", '/products/edit_prices', :class => 'action' %>
	<%= link_to "Cancelar", products_url, :class => 'action' %>
	<br />
	<%= will_paginate @products, :class => 'pagination' %>
<% end %>
<br />

