<% content_for :title do %>Lista de Productos en <%= current_user.location.name %><% end %>

<% content_for :actions do %>
	<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
		<dt><%= link_to 'Nuevo producto', new_product_path, :class => 'action' %></dt>
		<dt><%= link_to 'Reaprovisionar', '/inventories?search=' + @search, :class => 'action' %></dt>
	<% end %>
	<% if current_user.has_rights(['Admin','Gerente','Compras']) %>
		<dt><%= link_to "Cambiar Precios", '/prices?search=' + @search, :class => 'action' %></dt>
	<% end %>
	<dt><%= link_to 'Movimientos', movements_url, :class => 'action' %></dt>
<% end %>


<h2>
	<div class="table_cell">Mostrando precios del grupo: <%= current_user.current_price_group.price_group_name.name %></div>
</h2>

<%= will_paginate @products, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_20">Nombre</div>
    <% if current_user.has_rights(['Admin','Compras','Gerente']) %>
    	<div class="table_cell_20">Proveedor</div>
    <% end %>
    <div class="table_cell_5">Min</div>
    <div class="table_cell_5">Max</div>
    <div class="table_cell_10">Cantidad</div>
    <div class="table_cell_10">Precio</div>
    <% if current_user.has_rights(['Admin','Compras','Gerente']) %>
    	<div class="table_cell_10">Costo</div>
    <% end %>
    <div class="table_cell">Upc</div>
  </div>

<% for product in @products %>
  <div class="table_row">
    <div class="table_cell_20"><%= link_to product.name[0..25], product %></div>
    <% if current_user.has_rights(['Admin','Compras','Gerente']) %>
    	<div class="table_cell_20"><%= link_to product.vendor.name[0..25], product.vendor %></div>
    <% end %>
    <div class="table_cell_5"><%=h product.min(current_user.location_id) %></div>
    <div class="table_cell_5"><%=h product.max(current_user.location_id) %></div>
    <div class="table_cell_10"><%=h current_user.location.inventory(product) %></div>
    <div class="table_cell_10"><%=h number_to_currency(product.price) %></div>
    <% if current_user.has_rights(['Admin','Compras','Gerente']) %>
	    <div class="table_cell_10"><%=h number_to_currency(product.cost) %></div>
    <% end %>
    <div class="table_cell"><%=h product.show_upc %></div>
   </div>
<% end %>
<br />
<%= will_paginate @products, :class => 'pagination' %>
</div>



