<% content_for :title do %><%=h @product.name %> - <%=h @product.upc %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
		<dt><%= link_to 'Nuevo producto', new_product_path, :class => 'action' %></dt>
		<dt><%= link_to 'Cambiar', edit_product_path(@product), :class =>'action' %> </dt>		
		<dt><%= link_to 'Codigo de Barra', show_barcode_path(@product), :class =>'action' %> </dt>		
		<dt><%= link_to 'Cambiar Precio', :controller => "prices",:action => "index", :search => @product.upc, :class =>'action' %> </dt>

  <% end %>
  <dt><%= link_to 'Lista', products_path, :class =>'action' %></dt>
<% end %>
<h2>
<% form_for :user, @current_user, :html => {:id => 'scope_form' }, :url => update_scope_url do |u| %>
  Con precios del grupo: <%= u.collection_select(:price_group_name_id, get_price_group_names, :id, :name, {}, {:onchange=>'submit("scope_form")'} )%>
  En :                   <%= u.collection_select(:location_id, get_locations, :id, :name,  {}, {:onchange=>'submit("scope_form")'})%>
  <%= hidden_field_tag :redirect_url, request.request_uri %>
<% end %>
</h2>
<div class="column3-unit-left">
	<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
	<p><b>Proveedor</b><br />
    <% if @product.vendor %>
    	<%=link_to @product.vendor.name, @product.vendor%>	
    <% end %>
  </p>
  <% end %>
	<p>
    <b>Minimo</b><br />
    <%=h @product.min(current_user.location_id) %>
  </p>
	<p>
	  <b>Costo Actual</b><br />
	    <%=h number_to_currency(@product.cost) %>
	</p>
	<p>
    <b>Se Usa numero de Serie</b><br />
    <% if @product.serialized %>
    	<%=h "Si" %>
    <% else %>
    	<%=h "No" %>
    <% end %>
  </p>
  	<p>
    <b>Ubicacion</b><br />
    <%=h @product.location %>
  </p>
</div>
<div class="column3-unit-middle">
<p>
    <b>Precio</b><br />
      <%=h number_to_currency(@product.price) %>
  </p>
	<p>
    <b>Maximo</b><br />
    <%=h @product.max(current_user.location_id) %>
  </p>
	<p>
	  <b>Costo por Defualt</b><br />
	  <%= h number_to_currency(@product.default_cost) %>
	</p>
	<p>
    <b>Categoría</b><br />
    <% if @product.product_category %>
    	<%=h @product.product_category.name %>
    <% end %>
  </p>
  <% if current_user.has_rights(['Admin','Contabilidad','Gerente']) %>
		<p>
			<b>Cuenta de Ingresos</b><br />
			<% if @product.revenue_account %>
				<%=link_to @product.revenue_account.name, @product.revenue_account %>
			<% end %>
		</p>
	<% end %>
</div>
<div class="column3-unit-right">
	<%= link_to( image_tag(@product.barcode_filename, :style=>'border:none;'), show_barcode_url(@product) ) %>

	
	<p>
    <b>Unidad</b><br />
    <%=h @product.unit.name %>
  </p>
	<p>
		<b>Numero de Modelo</b><br />
		<%=h @product.model %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
  <b>Descripcion:</b>
  <%=h @product.description %>
</p>
<hr class="clear-contentunit" />
<p>
	<b>Inventario:</b><br />
	Para ver una lista de movimientos de este producto, seleccione uno de los sitios abajo.
	<div>
		<div class="table_header_row">
			<div class="table_cell_80">Sitio</div>
			<div class="table_cell">Cantidad </div>
		</div>
		<% for location in get_locations %>
			<div class="table_row">
				<div class="table_cell_80"><%=link_to location.name, movements_for_product_url(location, @product) %></div>
				<div class="table_cell"><%=h location.inventory(@product) %></div>
			</div>
		<% end %>
	</div>
</p>
<br />
<hr class="clear-contentunit" />
<% if @product.serialized %>
	<p>
		<b>Ejemplares presentes en <%= current_user.location.name %></b><br />
		<div>
			<div class="table_header_row">
				<div class="table_cell_50">Sitio</div>
				<div class="table_cell">Nombre del Producto </div>
			</div>
			<% for serial in @product.get_serials_here(current_user.location.id) %>
				<div class="table_row">
					<div class="table_cell_50"><%=link_to serial.serial_number, serial %></div>
					<div class="table_cell"><%=link_to serial.product.name, serial.product %></div>
				</div>
			<% end %>
		</div>
	</p>
<% end %>

