<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Registrar Nueva Transacción<% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Guardar', 'submit("trans_form")', :class => 'action' %></dt>
<% end %>

<%= error_messages_for :trans %>
<% form_for(@trans, :url => { :action => 'create'}, :html => {:id => 'trans_form' }) do |f| %>
<br />
	<div class="column2-unit-left">
		<p>
			<b>Descripción</b>
			<%= f.text_field :comments, :class => 'field' %>
		</p>
	</div>
	<div class="column2-unit-right">

	</div>
	<hr class="clear-contentunit" />
	<h1>Cuentas</h1>
	<div>
	  <div class="table_header_row">
		  <div class="table_cell_25">Cuenta</div>
		  <div class="table_cell_25">Tipo</div>
		  <div class="table_cell_25">Valor</div>
		  <div class="table_cell">Acciones</div>
	  </div>
	<div id="posts">
		<%= render :partial => 'post', :collection => @trans.posts %>
	</div>
	<div id="posts_errors"></div>
	<%= link_to_remote "Añadir otra cuenta", :url => new_post_url, :html_options=>{:class=>'action'} %>

<% end %>

