
<% content_for :title do %>Cambiar Factura<% end %>
<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>

<% content_for :actions do %>
  <dt><%= link_to 'Cancelar', @receipt.order %></dt>
  <dt><%= link_to 'Borrar', erase_receipt_url(@receipt) %></dt>
  <dt><%= link_to 'Remover', @receipt, :confirm => 'Esta seguro?', :method => :delete %></dt>
  <dt><%= link_to 'Lista', receipts_path %></dt>
  <dt><%= link_to_function 'Guardar', 'submit("receipt_form")' %></dt>
<% end %>

<%= error_messages_for :receipt %>
<script type="text/javascript">
	$(document).ready(function(){
	  //Setup	date picker
	  $.datepicker.regional['en']
	  $(".datepicker").datepicker({dateFormat: 'dd/mm/yy 00:00:00'});
	});
</script>
<% form_for(@receipt, :action=>'update', :html => {:id => 'receipt_form' }) do |f| %>
	<div class="column2-unit-left">
		<p>
			<b>Cliente</b>
			<%= link_to @receipt.order.client.name, @receipt.order.client %>
		</p>
		<p>
			<b>Numero de Pedido</b>
			<%= link_to @receipt.order_id, @receipt.order %>
		</p>
		<p>
			<b>Numero de Factura</b>
			<%= f.text_field :number, :class => 'field' %>
		</p>
	</div>
	<div class="column2-unit-right">
		<p>
			<b>Sitio</b>
			<%= f.collection_select(:site_id, get_sites, :id, :name, {:include_blank => true}) %>
		</p>
		<p>
			<b>Total</b>
			<%= h number_to_currency(@receipt.order.grand_total) %>
		</p>
		<p>
			<b>Fecha</b><br />
			<%= f.text_field :created_at_string, :class=> 'field datepicker', :id => 'created_at',:style=>'width:168px;' %>
		</p>
		<p>
			<b>Anulado</b><br />
			<%= f.text_field :deleted_string, :class=> 'field datepicker', :id => 'deleted',:style=>'width:168px;' %>
		</p>
	</div>
	<hr class="clear-contentunit" />
	
<% end %>

