
<% content_for :title do %>Lista de Facturas Hechas Hoy<% end %>

<br />
<%= will_paginate @receipts, :class => 'pagination' %>
<div>
  <div class="table_header_row">
			<div class="table_cell_15">Fecha</div>
		  <div class="table_cell_20">Cliente</div>
		  <div class="table_cell_20">Venta</div>
		  <div class="table_cell_15">Factura</div>
		  <div class="table_cell_15">Total</div>
		  <div class="table_cell">Usuario</div>
		</div>


<% for receipt in @receipts %>
  <div class="table_row">
    <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
    <div class="table_cell_20"><%= link_to receipt.order.client.name, receipt.order.client %></div>
    <div class="table_cell_20"><%= link_to receipt.order_id, receipt.order %></div>
    <div class="table_cell_15"><%= link_to receipt.number, receipt %></div>
    <div class="table_cell_15"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
    <div class="table_cell"><%=link_to receipt.user.login, receipt.user %></div>
	</div>
<% end %>
</div>
<br />
<%= will_paginate @receipts, :class => 'pagination' %>
