<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Lista de Facturas para <%= current_user.location.name %><% end %>
<% content_for :actions do %>
	<dt><%= link_to_function 'Actualizar', 'submit("date_form")', :class => 'action' %></dt>
	<dt><%= link_to 'Reporte', receipts_report_path(:till=>@till, :from=>@from) %></dt>
	<dt><%= link_to 'Lista para Imprimir', receipts_list_to_print_url(:till=>@till, :from=>@from) %></dt>
	<dt> <%= link_to 'Lista de Ventas', sales_url, :class => 'action' %>  </dt>
<% end %>
<h2>
<% form_tag receipts_path, :method =>'get', :id => 'date_form' do %>
	<div class="column2-unit-left">
      <b>Desde</b><br />
    <%= calendar_date_select_tag "from", @from, :time => false, :year_range => 10.years.ago..0.years.ago, :size=>20 %>

   </div>
   <div class="column2-unit-right">
      <b>Hasta</b><br />
    <%= calendar_date_select_tag "till", @till, :time => false, :year_range => 10.years.ago..0.years.ago, :size=>20 %>
   </div>
<% end %>
</h2>
<% if @consumidor_final_today.length >0 %>
	<hr class="clear-contentunit" />
  <h1> Facturas de Consumidor Final</h1> 
  <p><b><%= link_to 'Todos para imprimir', consumidor_final_today_url %></b></p>
  <%= will_paginate @consumidor_final_today, :class => 'pagination' %>
  <div>
    <div class="table_header_row">
		  <div class="table_cell_15">Fecha</div>
	    <div class="table_cell_20">Cliente</div>
	    <div class="table_cell_20">Venta</div>
	    <div class="table_cell_15">Factura</div>
	    <div class="table_cell_15">Total</div>
	    <div class="table_cell">Usuario</div>
	  </div>
    <% for receipt in @consumidor_final_today %>
      <div class="table_row">
        <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
        <div class="table_cell_20"><%= link_to receipt.order.client.name, receipt.order.client %></div>
        <div class="table_cell_20"><%= link_to receipt.order_id, receipt.order %></div>
        <div class="table_cell_15"><%= link_to receipt.number, receipt %></div>
        <div class="table_cell_15"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
        <div class="table_cell"><%=link_to receipt.user.login, receipt.user %></div>
	    </div>
    <% end %>
  </div>
	<%= will_paginate @consumidor_final_today, :class => 'pagination' %>
<% end %>
<% if @credito_fiscal_today.length >0 %>
	<hr class="clear-contentunit" />
  <h1>Facturas de Credito Fiscal</h1>
  <p><b><%= link_to 'Todos para imprimir', credito_fiscal_today_url %></b></p>
	<%= will_paginate @credito_fiscal_today, :class => 'pagination' %>
  <div>
    <div class="table_header_row">
		  <div class="table_cell_15">Fecha</div>
	    <div class="table_cell_20">Cliente</div>
	    <div class="table_cell_20">Venta</div>
	    <div class="table_cell_15">Factura</div>
	    <div class="table_cell_15">Total</div>
	    <div class="table_cell">Usuario</div>
	  </div>
    <% for receipt in @credito_fiscal_today %>
      <div class="table_row">
        <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
        <div class="table_cell_20"><%= link_to receipt.order.client.name, receipt.order.client %></div>
        <div class="table_cell_20"><%= link_to receipt.order_id, receipt.order %></div>
        <div class="table_cell_15"><%= link_to receipt.number, receipt %></div>
        <div class="table_cell_15"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
        <div class="table_cell"><%=link_to receipt.user.login, receipt.user %></div>
	    </div>
    <% end %>
  </div>
	<%= will_paginate @credito_fiscal_today, :class => 'pagination' %>
<% end %>
