<% content_for :title do %>Lista de Facturas Hechas Hoy<% end %>

<% content_for :actions do %>
	<dt><%= link_to 'Facturas no canceladas', unpaid_receipts_path %></dt>
	<dt><%= link_to 'Suscrip. procesadas', show_batch_path %></dt>
<% end %>
<br />
<% if @consumidor_final_today.length >0 %>
  <h1> Facturas de Consumidor Final</h1> 
  <p><b><%= link_to 'Todos para imprimir', consumidor_final_today_url %></b></p>
  <div>
    <div class="table_header_row">
		  <div class="table_cell_15">Fecha</div>
	    <div class="table_cell_20">Cliente</div>
	    <div class="table_cell_20">Venta</div>
	    <div class="table_cell_15">Factura</div>
	    <div class="table_cell_15">Total</div>
	    <div class="table_cell">Usuario</div>
	  </div>
    <% for receipt in @consumidor_final_today %>
      <div class="table_row">
        <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
        <div class="table_cell_20"><%= link_to receipt.order.client.name, receipt.order.client %></div>
        <div class="table_cell_20"><%= link_to receipt.order_id, receipt.order %></div>
        <div class="table_cell_15"><%= link_to receipt.number, receipt %></div>
        <div class="table_cell_15"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
        <div class="table_cell"><%=link_to receipt.user.login, receipt.user %></div>
	    </div>
    <% end %>
  </div>
<% end %>

<br />
<% if @credito_fiscal_today.length >0 %>
  <h1>Facturas de Credito Fiscal</h1>
  <p><b><%= link_to 'Todos para imprimir', credito_fiscal_today_url %></b></p>
  <div>
    <div class="table_header_row">
		  <div class="table_cell_15">Fecha</div>
	    <div class="table_cell_20">Cliente</div>
	    <div class="table_cell_20">Venta</div>
	    <div class="table_cell_15">Factura</div>
	    <div class="table_cell_15">Total</div>
	    <div class="table_cell">Usuario</div>
	  </div>
    <% for receipt in @credito_fiscal_today %>
      <div class="table_row">
        <div class="table_cell_15"><%= h receipt.created_at.to_date.to_s(:long) %></div>
        <div class="table_cell_20"><%= link_to receipt.order.client.name, receipt.order.client %></div>
        <div class="table_cell_20"><%= link_to receipt.order_id, receipt.order %></div>
        <div class="table_cell_15"><%= link_to receipt.number, receipt %></div>
        <div class="table_cell_15"><%= h number_to_currency(receipt.total_price_with_tax) %></div>
        <div class="table_cell"><%=link_to receipt.user.login, receipt.user %></div>
	    </div>
    <% end %>
  </div>
<% end %>
