<% content_for :title do %>Lista de Productos<% end %>

<div>
  <div class="table_header_row">
    <div class="table_cell_30">Numero de Serie</div>
    <div class="table_cell_25">Producto</div>
    <div class="table_cell_15">Locacion</div>
    <div class="table_cell">Upc</div>
  </div>

<% for serial in @serialized_products %>
  <div class="table_row">
    <div class="table_cell_30"><%= link_to serial.serial_number, serial %></div>
    <div class="table_cell_25"><%= link_to serial.product.name, serial.product %></div>
    <div class="table_cell_15">
		  <% if serial.location %>
		  	<%= link_to serial.location.name, serial.location %>
		  <% end %>
    </div>
    <div class="table_cell"><%=h serial.product.upc %></div>
   </div>
<% end %>
<br />
<%= will_paginate @products %>

