
<% content_for :title do %>Numero de Serie - <%=h @serialized_product.serial_number %><% end %>

<% content_for :actions do %>
	<dt><%= link_to 'Lista', serialized_products_path, :class =>'action' %></dt>
<% end %>
<div class="column3-unit-left">
	<p>
		<b>Producto</b><br />
		<% if @serialized_product.product %>
			<%= link_to @serialized_product.product.name, @serialized_product.product%>
		<% end %>
	</p>
	<p><b>Proveedor</b><br />
    <% if @serialized_product.product.vendor %>
    	<%=link_to @serialized_product.product.vendor.name, @serialized_product.product.vendor %>	
    <% end %>
  </p>
	<p>
    <b>Minimo</b><br />
    <%=h @serialized_product.product.min(current_user.location_id) %>
  </p>
</div>
<div class="column3-unit-middle">
<p>
    <b>Precio</b><br />
      <%=h number_to_currency(@serialized_product.product.price) %>
  </p>
	<p>
    <b>Locacion Actual</b><br />
    <% if @serialized_product.location %>
    	<%=link_to @serialized_product.location.name, @serialized_product.location %>
    <% end %>
  </p>
	<p>
    <b>Maximo</b><br />
    <%=h @serialized_product.product.max(current_user.location_id) %>
  </p>
</div>
<div class="column3-unit-right">
	<p>
    <b>Costo</b><br />
      <%=h number_to_currency(@serialized_product.product.cost) %>
  </p>
	<p>
    <b>Unidad</b><br />
    <%=h @serialized_product.product.unit.name %>
  </p>

</div>
<hr class="clear-contentunit" />
<p>
  <b>Descripcion:</b>
  <%=h @serialized_product.product.description %>
</p>
<p>
	<b>Movimientos:</b>
	<div>
		<div class="table_header_row">
			<div class="table_cell_20">Movimiento</div>
			<div class="table_cell_20">Entidad</div>
			<div class="table_cell_20">Factura</div>
			<div class="table_cell_20">Usuario</div>
			<div class="table_cell">Fecha</div>
		</div>
		<% for movement in @serialized_product.movements.find(:all,:order => 'created_at desc') %>
			<div class="table_row">
				<div class="table_cell_20"><%= link_to movement.description, movement.order %></div>
				<div class="table_cell_20"><%= link_to movement.entity.name, movement.entity %></div>
				<div class="table_cell_20"><%= link_to movement.order.receipt, movement.order %></div>
				<div class="table_cell_20"><%= link_to movement.user.login, movement.user %></div>
				<div class="table_cell"><%=h movement.created_at.to_date.to_s %></div>
			</div>
		<% end %>
	</div>
</p>
	
	
</p>


