<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Lista de Asesores en <%= current_user.location.name %><% end %>
<% content_for :actions do %>
	<li><%= link_to_function 'Actualizar', 'submit("date_form")', :class => 'action' %></li>
	<li><%= link_to 'Reporte', sales_representatives_report_path(:till=>@till, :from=>@from) %></li>
	<li> <%= link_to 'Lista de Ventas', sales_url, :class => 'action' %>  </li>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
	  //Setup	date picker
	  $.datepicker.regional['en']
	  $(".datepicker").datepicker();
	});
</script>
<% form_tag sales_representatives_path, :method =>'get', :id => 'date_form' do %>
	<div class="column2-unit-left">
	  <p>
	  	<b>Desde</b><br />
			<%= text_field_tag 'from', @from.to_s(:default), :class=> 'field datepicker', :id => 'from',:style=>'width:168px;' %>
	  </p>
	</div>
	<div class="column2-unit-right">
		<p>
			<b>Hasta</b><br />
			<%= text_field_tag 'till', @till.to_s(:default), :class=> 'field datepicker', :id => 'till',:style=>'width:168px;' %>
		</p>
	</div>
<% end %>
<hr class="clear-contentunit" />
<div>
  <div class="table_header_row">
	  <div class="table_cell_10"></div>
    <div class="table_cell_20">Anterior</div>
    <div class="table_cell_40">Actuales</div>
    <div class="table_cell">Pendientes</div>
  </div>
  <div class="table_header_row">
	  <div class="table_cell_10">Nombre</div>
    <div class="table_cell_10">Facturas</div>
    <div class="table_cell_10">Saldo</div>
    <div class="table_cell_10">Facturas</div>
    <div class="table_cell_10">Facturas</div>
    <div class="table_cell_10">Pagos</div>
    <div class="table_cell_10">Pagos</div>
    <div class="table_cell_10">Facturas</div>
    <div class="table_cell">Saldo Final</div>
  </div>
  <% for rep in @reps %>
    <div class="table_row">
      <div class="table_cell_10"><%= link_to rep[:user].name, rep[:user] %></div>
      <div class="table_cell_10"><%= h rep[:previous_orders_count]-rep[:previous_payments_count] %></div>
      <div class="table_cell_10"><%= h number_to_currency(rep[:previous_orders_total]-rep[:previous_payments_total]) %></div>
      <div class="table_cell_10"><%= h rep[:current_orders_count] %></div>
      <div class="table_cell_10"><%= h number_to_currency(rep[:current_orders_total]) %></div>
      <div class="table_cell_10"><%= h rep[:current_payments_count] %></div>
      <div class="table_cell_10"><%= h number_to_currency(rep[:current_payments_total]) %></div>
      <div class="table_cell_10"><%= h rep[:previous_orders_count]-rep[:previous_payments_count] + rep[:current_orders_count]-rep[:current_payments_count] %></div>
      <div class="table_cell"><%= h number_to_currency(rep[:previous_orders_total]-rep[:previous_payments_total] + rep[:current_orders_total]-rep[:current_payments_total]) %></div>
    </div>
  <% end %>
</div>

