<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<!--  Version: Multiflex-4.2 / Layout-2                     -->
<!--  Date:    January 20, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info" Thank you!             -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Thane Media" />
  <meta name="copyright" content="   
    Jade Inventory Control System
    Copyright (C) 2009 Thane Media

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2.01
    (at your option) any later version 2.01

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses.
    " />
  <meta name="author" content="Design: Wolfgang (www.1-2-3-4.info) | Application: Jared Martin" />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your page description here ..." />
  <meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <link type="text/css" rel="stylesheet" media="screen" href="/css/text.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/css/setup.css">
  <link rel="stylesheet" href="/css/jquery-ui-custom-theme/jquery-ui-1.7.2.custom.css" type="text/css">
  <link rel="stylesheet" href="/css/thickbox.css" type="text/css" media="screen" />

  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'ui.datepicker-es' %>
  <%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'application.js' %>
  <style type="text/css">
    div.auto_complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    li.selected { background-color: #ffb; }
  </style>

	<%= yield :javascript %>
  
  <link rel="icon" type="image/x-icon" href="/img/jade.ico" />
  <title>Sistema de Control de Inventario y Contabilidad Jade | <%= page_title %>
</title>
  
</head>
<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <div class="page-container">
  	<div class="header">
      <div class="header-top">
        <div class="round-border-topleft"></div><div class="round-border-topright"></div>      
        <a class="sitelogo" href="#" title="Inicio"></a>
        <div class="sitename">
          <h1><a href="/products" title="Inicio" %}">Jade&nbsp;&bull;&nbsp;1.20</a></h1> 
          <h2>Sistema de Control de Inventario y Contabilidad Jade<br/>Solido. Sencillo. Elegante.</h2>
        </div>
        <div class="searchform">
          <% form_tag search_path, :method =>'get', :id => 'search_form' do %>
            <%= text_field_tag :search, params[:search], :class => 'field'%>
		        <%= hidden_field_tag :filter, params[:filter], :class => 'field'%>
		        <%= submit_tag "Buscar", :name => nil, :class => 'button' %>
          <% end %>
        </div>
      </div>

      <!-- A.1 HEADER MIDDLE -->
      <div class="header-middle">    
   
        <!-- Navigation Level 0 -->
        <div class="nav0">        	<%= yield :nav0 %>
        	
        </div>			

        <!-- Navigation Level 1 -->
        <div class="nav1">
            <%= yield :nav1 %>					
        </div>              
      </div>
      
      <!-- A.2 HEADER BOTTOM -->
      <div class="header-bottom">
      
        <!-- Navigation Level 2 (Drop-down menus) -->
        <div class="nav2">
        
        	<ul>
       	
    <li><a title="Nuevo">Nuevo</a>
			<ul>
				<% if current_user.has_rights(['Admin','Vendedor','Gerente']) %>
	  			<li><a href="/sales/new" title="Venta">Venta</a></li>
	  			<li><a href="/clients/new" title="Cliente">Cliente</a></li>
	  		<% end %>
	  		<% if current_user.has_rights(['Admin','Compras','Gerente']) %>
					<li><a href="/purchases/new" title="Compra">Compra</a></li>
					<li><a href="/products/new" title="Producto">Producto</a></li>
					<li><a href="<%= new_service_path %>" title="Servicio">Servicio</a></li>
					<li><a href="/discounts/new" title="Descuento">Descuento</a></li>
					<li><a href="/combos/new" title="Combo">Combo</a></li>
					<li><a href="/vendors/new" title="Proveedor">Proveedor</a></li>
					<% if current_user.has_rights(['Ver Suscripciones']) %>
						<li><a href=<%= new_subscription_url %> title="Suscripción">Suscripción</a></li>
					<% end %>
	  		<% end %>
	  		<% if current_user.has_rights(['Admin','Inventario','Gerente']) %>
        	<li><a href="/count/new" title="Cuenta Fisica">Cuenta Fisica</a></li>
        <% end %>
  			<li><a href="/internal/new" title="Consumo Interno">Consumo Interno</a></li>
  			<li><a href="/sites/new" title="Sitio">Sitio</a></li>
  			</ul>
		</li>


		<li><a href="/products" title="Productos">Productos</a>
			<ul>
				<li><a href="/products" title="Productos">Productos</a></li>
				<li><a href="/services" title="Servicios">Servicios</a></li>
				<li><a href="/combos" title="Combos">Combos</a></li>
				<li><a href="/serialized_products" title="Numeros de Serie">Numeros de Serie</a></li>
				<li><a href="/warranties" title="Garantías">Garantías</a></li>
				<li><a href="/discounts" title="Descuentos">Descuentos</a></li>
				<li><a href="/movements" title="Movimientos">Movimientos</a></li>
				<% if current_user.has_rights(['Admin','Gerente']) %>
					<li><a href="/prices" title="Cambiar Precios">Cambiar Precios</a></li>
				<% end %>
				<li><a href="/units" title="Unidades">Unidades</a></li>
			</ul>
		</li>

		<% if current_user.has_rights(['Admin','Gerente','Compras']) %>
			<li><a href="/purchases" title="Compras">Compras</a>
				<ul>
					<li><a href="/purchases" title="Compras">Compras</a></li>
					<li><a href="/inventories" title="Reaprovisionar">Reaprovisionar</a></li>
				</ul>
			</li>
	 	<% end %>
	 	<% if current_user.has_rights(['Admin','Gerente','Vendedor', 'Contabilidad']) %>
			<li><a href="/sales" title="Vendedor">Vendedor</a>		
				<ul>
					<% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
						<li><a href="/sales" title="Vendedor">Vendedor</a></li>
					<% end %>
					<% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
						<li><a href="/subscriptions" title="Suscripciones">Suscripciones</a></li>
						<li><a href="/internal" title="Consumo Interno">Consumos Internos</a></li>
					<% end %>
				</ul>				
			</li>
	  <% end %>
	  <% if current_user.has_rights(['Admin','Gerente','Compras']) %>
      <li><a href="/vendors" title="Proveedores">Proveedores</a></li>
    <% end %>
    <% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
      <li><a href="/clients" title="Clientes">Clientes</a>
        <ul>
          <li><a href="/entities/my_clients" title="Mis Clientes">Mis Clientes</a></li>
          <li><a href="/entities/my_end_users" title="Mis Clientes Consumidor Final">Mis Consumidor Final</a></li>
          <li><a href="/entities/my_credito_fiscal" title="Mis Clientes Credito Fiscal">Mis Credito Fiscal</a></li>
          <li><a href="/entities/my_clients?search=publico" title="Mis Clientes de Precio Publico">Mis Publico</a></li>
          <li><a href="/entities/my_clients?search=mayoreo" title="Mis Clientes de Precio Mayoreo">Mis Mayoreo</a></li>
          <li><a href="/birthdays" title="Cumpleanos">Cumpleanos</a></li>
        </ul>
      </li>
    <% end %> 
	  <li><a href="/sites" title="Sitios">Sitios</a>
	  	<ul>
  			<% for location in get_sites %>
  				<li><a href="/entities/<%= location.id %>" title=<%= location.name %>><%= location.name %></a></li>
  			<% end %>
  			<li><a href="/counts" title="Cuentas Fisicas">Cuentas Fisicas</a></li>
  		</ul>
  	</li>
  	<% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
	  	<li><a href="/payments" title="Pagos">Pagos</a></li>
	  <% end %>
  	<% if current_user.has_rights(['Admin','Gerente']) %>
	  	<li><a href="/users" title="Usuarios">Usuarios</a></li>
	  <% else %>
	  	<li><a href="/me" title="Mi Cuenta">Mi Cuenta</a></li>
	  <% end %>
	  <% if current_user.has_rights(['Admin','Gerente', 'Contabilidad']) %>
	  	<li><a href="/accounts" title="Contabilidad">Contabilidad</a>
	  		<ul>
	  			<li><a href="/accounts" title="Contabilidad">Contabilidad</a></li>
	  			<li><a href="/sales_representatives" title="Corte de Caja">Corte de Caja</a></li>
	  		</ul>
	  	</li>
	  <% end %>	  
	</ul>

					<%= yield :nav2 %>	
        </div>
	  </div>

      
    </div>

    <!-- B. MAIN -->
    <div class="main">
    <div class="nav-daddy">
      <div class="main-nav-spacer"></div>
      <!-- B.1 MAIN NAVIGATION -->
      <div class="main-navigation">

        <!-- Navigation Level 3 -->
        <div class="round-border-topright"></div>
        <div class="round-border-topright"></div>
  <h1 class="first">Acciones</h1>
		<dl class="nav3-bullet">
		   <%= yield :actions %>
		</dl>      
  <h1>Enlaces</h1>
	<dl class="nav3-grid">
	<% if current_user.has_rights(['Admin','Vendedor','Gerente','Compras', 'Contabilidad','Inventario']) %>
		<dt><a href="/products">Productos</a></dt>
			<dd><a href="/products">Productos</a></dd>
			<dd><a href="/services">Servicios</a></dd>
			<dd><a href="/combos">Combos</a></dd>
			<dd><a href="/serialized_products">Numeros de Serie</a></dd>
			<dd><a href="/discounts">Descuentos</a></dd>
			<dd><a href="/warranties">Garantías</a></dd>
			<% if current_user.has_rights(['Admin','Gerente']) %>
				<dd><a href="/prices">Cambiar Precios</a></dd>
			<% end %>
			<% if current_user.has_rights(['Admin','Gerente','Compras']) %>
				<dd><a href="/inventories">Reaprovisionar</a></dd>
			<% end %>
			<dd><a href="/units">Unidades</a></dd>
		<dt><a href="/orders">Pedidos</a></dt>
			<% if current_user.has_rights(['Admin','Gerente','Compras']) %>
		  <dd><a href="/purchases">Compras</a></dd>
		  <dd><a href="/orders/show_batch">Últimas Compras</a></dd>
		 <% end %>
		 <% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
		  <dd><a href="/sales">Vendedor</a></dd>
		  <dd><a href="/subscriptions">Ver Suscripciones</a></dd>
		  <dd><a href="/internal">Consumo Interno</a></dd>
		  <% end %>
		<dt><a href="/products">Inventario</a></dt>
		<% for location in get_locations %>
			<dd><a href="/entities/<%= location.id %>"><%= location.name %></a></dd>		
  	<% end %>
  	<dt><a href="/entities">Entidades</a></dt>
  		<% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
	  	<dd><a href="/clients/">Clientes</a></dd>		
	  	<dd><a href="/entities/my_clients">Mis Clientes</a></dd>		
	  	
	  <% end %>
	  	<% if current_user.has_rights(['Admin','Gerente','Compras']) %>
	  	<dd><a href="/vendors/">Proveedores</a></dd>		
	  <% end %>
	  	<dd><a href="/sites/">Sitios</a></dd>		
	  	<dt><a href="/product_categories">Categorías</a></dt>
	  <% for category in get_product_categories %>
			<dd><a href="/product_categories/<%= category.id %>"><%= category.name %></a></dd>		
  	<% end %>
  	<% if current_user.has_rights(['Admin','Gerente','Vendedor']) %>
  		<dt><a href="/payments">Pagos</a></dt>
  	<% end %>
  	<% if current_user.has_rights(['Admin','Gerente']) %>
			<dt><a href="/users">Usuarios</a></dt>
		<% else %>
			<dt><a href="/me">Mi Cuenta</a></dt>
		<% end %>
	  <% if current_user.has_rights(['Admin','Gerente', 'Contabilidad']) %>
			<dt><a href="/accounts">Contabilidad</a></dt>
	  <% end %>
			<dt><a href="/logout">Salir</a></dt>
		<% end %>
	</dl>        
        
		   <%= yield :nav3 %>

</div>

</div>
 
      <!-- B.2 MAIN CONTENT -->
      <div class="main-content">


