<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<!--  Version: Multiflex-4.2 / Layout-2                     -->
<!--  Date:    January 20, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info" Thank you!             -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Thane Media" />
  <meta name="copyright" content="   
    Jade Inventory Control System 2.1
    Copyright (C) 2009 Thane Media

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2.01
    (at your option) any later version 2.01

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses.
    " />
  <meta name="author" content="Design: Wolfgang (www.1-2-3-4.info) | Application: Jared Martin" />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your page description here ..." />
  <meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <link type="text/css" rel="stylesheet" media="screen" href="/css/text.css"/>
  <link type="text/css" rel="stylesheet" media="screen" href="/css/setup.css"/>
  <link rel="stylesheet" href="/css/jquery-ui-custom-theme/jquery-ui-1.7.2.custom.css" type="text/css"/>

  <%= stylesheet_link_tag 'jquery.autocomplete' %>
<!--  <%= stylesheet_link_tag 'jquery-ui' %>-->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'ui.datepicker-es' %>
  <%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
	<%= javascript_include_tag 'application.js' %>
	<%= javascript_include_tag 'jquery.hotkeys.min' %>
	
	<%= yield :javascript %>
  
  <link rel="icon" type="image/x-icon" href="/img/jade.ico" />
  <title>Sistema de Control de Inventario y Contabilidad de <%= COMPANY_NAME %> | <%= page_title %>
</title>
  
</head>
<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <div class="page-container">
  	<div class="header">
      <div class="header-top">
        <div class="round-border-topleft"></div><div class="round-border-topright"></div>      
        <a class="sitelogo" href="#" title="Inicio"></a>
        <div class="sitename">
          <h1><a href="/products" title="Inicio" %}">Jade&nbsp;&bull;&nbsp;1.20</a></h1> 
          <h2>Sistema de Control de Inventario y Contabilidad de <%= COMPANY_NAME %><br/>Solido. Sencillo. Elegante.</h2>
        </div>
        <div class="right-side-header">
            <div class="user-info">
                <h2>Usuario: <%= current_user.name%> <a href="/logout" style="color:white;text-decoration:none;">(Salir)</a></h2>
                <h2>Fecha: <%= current_user.date%></h2>
            </div>
            <div class="searchform">
                <% form_tag search_path, :method =>'get', :id => 'search_form' do %>
                    <%= text_field_tag :search, params[:search], :class => 'field'%>
		            <%= hidden_field_tag :filter, params[:filter], :class => 'field'%>
		            <%= submit_tag "Buscar", :name => nil, :class => 'button' %>
	                <ul id="site-switcher">
	                    <li>Punto de vista: "</li>
                        <li>
                            <a class="price_group_switch" href="#" title="<%= current_user.price_group_name.name%>"><%= current_user.price_group_name.name%></a>
                            <ul>
                                <% for location in get_locations %>
    			                    <li><a href="/entities/<%= location.id %>"><%= location.name %></a></li>
          	                    <% end %>
    		                </ul>
    		            </li>
                        <li>"  en "</li>
    		            <li><a class="site_switch" href="#" title="<%= current_user.location.name%>"><%= current_user.location.name%></a>
                            <ul>
                                <% for location in get_locations %>
                			        <li><a href="/entities/<%= location.id %>"><%= location.name %></a></li>
                      	        <% end %>
                		    </ul>
                        </li>
                        <li>"</li>
                    </ul><br/>
                    De: <%= text_field_tag :from, @from.to_s, :class => 'transparent'%> - Hasta: <%= text_field_tag :till, @till.to_s, :class => 'transparent'%>
              <% end %>
            </div>
        </div>
      </div>
      <!-- A.1 HEADER MIDDLE -->
      <div class="header-middle">    
   
        <!-- Navigation Level 0 -->
        <div class="nav0">
        	<%= yield :nav0 %>
        	
        </div>			

        <!-- Navigation Level 1 -->
        <div class="nav1">
            <%= yield :nav1 %>					
        </div>              
      </div>
      
      <!-- A.2 HEADER BOTTOM -->
      <div class="header-bottom">
      
        <!-- Navigation Level 2 (Drop-down menus) -->
        <div class="nav2">
          <ul>
	<li class="ui-corner-all"><a class="ui-corner-all" href="#">Nuevo</a>
		<ul>
			<% if current_user.has_right('CREATE_SALES') %>
  			<li><a href="/sales/new" title="Venta">Venta</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_CLIENTS') %>
  			<li><a href="/clients/new" title="Cliente">Cliente</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_PURCHASES') %>
				<li><a href="/purchases/new" title="Compra">Compra</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_PRODUCTS') %>
				<li><a href="/products/new" title="Producto">Producto</a></li>	  			
  		<% end %>
  		<% if current_user.has_right('CREATE_SERVICES') %>
  			<li><a href="<%= new_service_path %>" title="Servicio">Servicio</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_DISCOUNTS') %>
  			<li><a href="/discounts/new" title="Descuento">Descuento</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_COMBOS') %>
  			<li><a href="/combos/new" title="Combo">Combo</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_VENDORS') %>
  			<li><a href="/vendors/new" title="Proveedor">Proveedor</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_SUBSCRIPTIONS') %>
  			<li><a href=<%= new_subscription_url %> title="Suscripción">Suscripción</a></li>
  		<% end %>
  		<% if current_user.has_right('CREATE_PRODUCTION_PROCESSES') %>
					<li><a href=<%= new_production_order_url %> title="Proceso de Produccion">Proceso de Produccion</a></li>
			<% end %>
			<% if current_user.has_right('CREATE_COUNTS') %>
      	<li><a href="/count/new" title="Cuenta Fisica">Cuenta Fisica</a></li>
			<% end %>
			<% if current_user.has_right('CREATE_INTERNAL_CONSUMPTIONS') %>
				<li><a href="/internal/new" title="Consumo Interno">Consumo Interno</a></li>
			<% end %>
			<% if current_user.has_right('CREATE_SITES') %>
				<li><a href="/sites/new" title="Sitio">Sitio</a></li>
			<% end %>
		</ul>
	</li>
	<li><a href="/products">Productos</a>
		<ul>
			<% if current_user.has_right('VIEW_PRODUCTS') %>
				<li><a href="/products" title="Productos">Productos</a></li>
				<li><a href="/movements" title="Movimientos">Movimientos</a></li>
				<li><a href="/units" title="Unidades">Unidades</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_SERVICES') %>
				<li><a href="/services" title="Servicios">Servicios</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_COMBOS') %>
				<li><a href="/combos" title="Combos">Combos</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_SERIAL_NUMBERS') %>
				<li><a href="/serialized_products" title="Numeros de Serie">Numeros de Serie</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_WARRANTIES') %>
				<li><a href="/warranties" title="Garantías">Garantías</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_DISCOUNTS') %>
				<li><a href="/discounts" title="Descuentos">Descuentos</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_LABELS') %>
				<li><a href="/labels" title="Etiquetas">Etiquetas</a></li>
			<% end %>
			<% if current_user.has_right('VIEW_PRICES') %>
				<li><a href="/prices" title="Cambiar Precios">Cambiar Precios</a></li>
			<% end %>
		</ul>
	</li>
	<% if current_user.has_right('VIEW_PURCHASES') %>
		<li><a href="/purchases" title="Compras">Compras</a>
			<ul>
				<li><a href="/purchases" title="Compras">Compras</a></li>
				<% if current_user.has_right('CREATE_PURCHASES') %>
					<li><a href="/inventories" title="Reaprovisionar">Reaprovisionar</a></li>
				<% end %>
			</ul>
		</li>
	<% end %>
	<% if current_user.has_right('VIEW_SALES') %>
			<li><a href="/sales" title="Ventas">Ventas</a>		
				<ul>
					<li><a href="/sales" title="Ventas">Ventas</a></li>
					<li><a href="/posts" title="Lista de Transacciones">Transacciones</a></li>
					<% if current_user.has_right('VIEW_SUBSCRIPTIONS') %>
						<li><a href="/subscriptions" title="Suscripciones">Suscripciones</a></li>						
					<% end %>
					<% if current_user.has_right('VIEW_INTERNAL_CONSUMPTIONS') %>
						<li><a href="/internal" title="Consumo Interno">Consumos Internos</a></li>
					<% end %>
				</ul>				
			</li>
		<% end %>
		<% if current_user.has_right('VIEW_VENDORS') %>
      <li><a href="/vendors" title="Proveedores">Proveedores</a></li>
		<% end %>
		<% if current_user.has_right('VIEW_CLIENTS') %>
      <li><a href="/clients" title="Clientes">Clientes</a>
        <ul>
          <li><a href="/entities/my_clients" title="Mis Clientes">Mis Clientes</a></li>
          <li><a href="/entities/my_end_users" title="Mis Clientes Consumidor Final">Mis Consumidor Final</a></li>
          <li><a href="/entities/my_credito_fiscal" title="Mis Clientes Credito Fiscal">Mis Credito Fiscal</a></li>
          <li><a href="/entities/my_clients?search=publico" title="Mis Clientes de Precio Publico">Mis Publico</a></li>
          <li><a href="/entities/my_clients?search=mayoreo" title="Mis Clientes de Precio Mayoreo">Mis Mayoreo</a></li>
          <li><a href="/birthdays" title="Cumpleanos">Cumpleanos</a></li>
        </ul>
      </li>
		<% end %>
		
	  <li><a href="/sites" title="Sitios">Sitios</a>
	  	<ul>
  			<% for location in get_sites %>
  				<li><a href="/entities/<%= location.id %>" title=<%= location.name %>><%= location.name %></a></li>
  			<% end %>
  			<% if current_user.has_right('VIEW_COUNTS') %>
  				<li><a href="/counts" title="Cuentas Fisicas">Cuentas Fisicas</a></li>
  			<% end %>
  		</ul>
  	</li>
		<% if current_user.has_right('VIEW_PRODUCTION_ORDERS') %>
			<li><a href="<%= production_orders_url(:filter=>'orders') %>" title="Produccion">Produccion</a>
				<ul>
					<li><a href="<%= production_orders_url(:filter=>'orders') %>" title="Ordenes">Ordenes</a></li>
					<% if current_user.has_right('VIEW_PRODUCTION_PROCESSES') %>
						<li><a href="<%= production_orders_url(:filter=>'processes') %>" title="Procesos">Procesos</a></li>
					<% end %>
				</ul>
			</li>
		<% end %>
  	<% if current_user.has_right('VIEW_PAYMENTS') %>
	  	<li><a href="/payments" title="Pagos">Pagos</a></li>
  	<% end %>
  	<% if current_user.has_right('VIEW_USERS') %>
	  	<li><a href="/users" title="Usuarios">Usuarios</a></li>
  	<% else %>
	  	<li><a href="/me" title="Mi Cuenta">Mi Cuenta</a></li>
  	<% end %>
  	<% if current_user.has_right('VIEW_ACCOUNTS') %>
	  	<li><a href="/accounts" title="Contabilidad">Contabilidad</a>
	  		<ul>
	  			<li><a href="/accounts" title="Contabilidad">Contabilidad</a></li>
	  			<li><a href="/accounts/corte_de_caja" title="Corte de Caja">Corte de Caja</a></li>
	  		</ul>
	  	</li>
	  <% end %>
		</ul>
	</div>
	
	
	
	  </div>

      
    </div>

  <!-- For menus -->
	
    <!-- B. MAIN -->
    <div class="main">
    <div class="nav-daddy">
      <div class="main-nav-spacer"></div>
      <!-- B.1 MAIN NAVIGATION -->
      <div class="main-navigation" id="accordion" >
<!--        <div class="round-border-topright"></div>-->
<!--        <div class="round-border-topright"></div>-->
        <h2>Acciones</h2>
        <div>
            <ul>
                <%= yield :actions %>
		    </ul>
		</div>
        <h2>Sitios</h2>
        <div>
            <ul>
                <% for location in get_locations %>
			        <li><a href="/entities/<%= location.id %>"><%= location.name %></a></li>
      	        <% end %>
		    </ul>
        </div>
        <h2>Categorias</h2>
        <div>
            <ul>
                <% for category in get_product_categories %>
			        <li><a href="/product_categories/<%= category.id %>"><%= category.name %></a></li>
      	        <% end %>
		    </ul>
        </div>
        <h2>Productos</h2>
        <div>
            <ul>
		    <li><a href="/products">Productos</a></li>
		    <li><a href="/services">Servicios</a></li>
		    <li><a href="/combos">Combos</a></li>
		    <li><a href="/serialized_products">Numeros de Serie</a></li>
		    <li><a href="/prices">Cambiar Precios</a></li>
		    <li><a href="/warranties">Garantías</a></li>
		    <li><a href="/discounts">Descuentos</a></li>
		    <li><a href="/inventories">Reaprovisionar</a></li>
		    <li><a href="/units">Unidades</a></li>
		    </ul>
        </div>
		
		
	<script type="text/javascript">
		$(document).ready(function(){
	        //Setup	date picker
          $.datepicker.regional['en']
         $("#from").datepicker();
         $("#till").datepicker();
	    	$("#accordion").accordion({ header: 'h2' });


			jQuery(document).bind('keydown', 'f1',function (evt){window.location = '<%= new_sale_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f2',function (evt){window.location = '<%= new_product_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f3',function (evt){window.location = '<%= new_client_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f4',function (evt){window.location = '<%= new_purchase_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f5',function (evt){window.location = '<%= new_vendor_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f6',function (evt){window.location = '<%= production_orders_path(:filter=>'processes') %>'; return false; }); 
			jQuery(document).bind('keydown', 'f7',function (evt){window.location = '<%= new_sale_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f8',function (evt){window.location = '<%= new_sale_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f9',function (evt){window.location = '<%= new_sale_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f10',function (evt){window.location = '<%= new_sale_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f11',function (evt){window.location = '<%= products_path %>'; return false; }); 
			jQuery(document).bind('keydown', 'f12',function (evt){window.location = '<%= new_count_path %>'; return false; });  
			jQuery(document).bind('keydown', 'Ctrl+return',function (evt){$("form:not(#search_form):first").submit(); return false; });  
			jQuery(document).bind('keydown', 'esc',function (evt){window.location = $('#cancel_url').val(); return false; }); 
		});
	</script>
		
		
		


</div>

</div>
 
      <!-- B.2 MAIN CONTENT -->
      <div class="main-content">


