<% case @entity_type 
	 when 'sites' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true,  :locals => {:page_title =>'Sitios', :search_path => sites_path}) %>
	<% when 'client' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Clientes', :search_path => clients_path}) %>
	<% when 'vendor' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Proveedores', :search_path => vendors_path}) %> 
	<% else %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Entidades', :search_path => entities_path}) %> 
<% end %>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
