

<% case @entity_type 
	 when 'sites' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true,  :locals => {:page_title =>'Sitios', :search_path => sites_path}) %>
	<% when 'client' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Clientes', :search_path => clients_path}) %>
	<% when 'vendor' %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Proveedores', :search_path => vendors_path}) %> 
		vendor
	<% when 1 %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Proveedores', :search_path => vendors_path}) %>

	<% when 2 %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Clientes', :search_path => clients_path}) %>

	<% when 3 %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Sitios', :search_path => clients_path}) %>

	<% when 5 %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Clientes', :search_path => clients_path}) %>

	<% else %>
		<%= render( :file => "layouts/_header.html.erb", :use_full_path => true, :locals => {:page_title =>'Entidades', :search_path => entities_path}) %> 

<% end %>

<% if flash[:notice] %>
	<p class="notice_message"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<% if flash[:important] %>
	<p class="important_message"><%= flash[:important] %></p>
<% end %>
<div><%= yield :new %></div>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
