<%= render( 
	:file          => "layouts/_header.html.erb", 
	:use_full_path => true, 
	:locals => {
		:page_title => 'Transacciones',
		:search_path => entries_path
	}
) %>

<% if flash[:notice] %>
	<p class="notice_message"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<div><%= yield :new %></div>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
