<% case @order_type_id
     when 0 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Pedidos', :search_path => orders_path}
      ) %>
  <% when 1 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Ventas', :search_path => sales_path}
      ) %>
  <% when 2 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Compras', :search_path => purchases_path}
      ) %>
  <% when 3 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Consumos Internos', :search_path => internals_path}
      ) %>
  <% when 4 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Transferencias', :search_path => transfers_path}
      ) %>
  <% when 5 %>
      <%= render( 
	      :file          => "layouts/_header.html.erb", 
	      :use_full_path => true, 
	      :locals => {:page_title => 'Cuentas Fisicas', :search_path => counts_path}
      ) %>
<% end %>

<% if flash[:notice] %>
	<p class="notice_message"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<% if flash[:important] %>
	<p class="important_message"><%= flash[:important] %></p>
<% end %>
<div><%= yield :new %></div>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
