
<%= render( 
	:file          => "layouts/_header.html.erb", 
	:use_full_path => true, 
	:locals => {
		:page_title => 'Facturas',
		:search_path => unpaid_receipts_path
	}
) %>


<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
