
<%= render( 
	:file          => "layouts/_header.html.erb", 
	:use_full_path => true, 
	:locals => {
		:page_title => 'Servicios',
		:search_path => services_path
	}
) %>
<% if flash[:notice] != nil %>
	<p style="background: #008597; color: white; padding:2px;"> <%=  flash[:notice] %></p>
<% end %>
<h1 class="block"><%= yield :title %></h1>
<%= yield  %>
<hr class="clear-contentunit" />
        
<%= render( :file          => "layouts/_footer.html.erb", :use_full_path => true) %>
