<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<!--  Version: Multiflex-4.2 / Layout-2                     -->
<!--  Date:    January 20, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info" Thank you!             -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Thane Media" />
  <meta name="copyright" content="   
    Jade Inventory Control System
    Copyright (C) 2009 Thane Media

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2.01
    (at your option) any later version 2.01

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses.
    " />
  <meta name="author" content="Design: Wolfgang (www.1-2-3-4.info) | Application: Jared Martin" />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your page description here ..." />
  <meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
  
  <link type="text/css" rel="stylesheet" media="screen" href="/css/text.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/css/setup.css">
  <link rel="stylesheet" href="/css/jquery-ui-custom-theme/jquery-ui-1.7.2.custom.css" type="text/css">
  <link rel="stylesheet" href="/css/thickbox.css" type="text/css" media="screen" />

  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'ui.datepicker-es' %>
  <%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery.autocomplete' %>
  <style type="text/css">
    div.auto_complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    li.selected { background-color: #ffb; }
  </style>

	<%= yield :javascript %>
  
  <link rel="icon" type="image/x-icon" href="/img/jade.ico" />
  <title>Sistema de Control de Inventario y Contabilidad Jade %></title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <div class="page-container">
    <div class="header">
    	<div class="header-top">
        <div class="round-border-topleft"></div><div class="round-border-topright"></div>      
        <a class="sitelogo" href="#" title="Inicio"></a>
        <div class="sitename">
          <h1><a href="/products" title="Inicio" %}">Jade&nbsp;&bull;&nbsp;1.20</a></h1> 
          <h2>Sistema de Control de Inventario y Contabilidad Jade<br/>Solido. Sencillo. Elegante.</h2>
        </div>
      </div>
      
   	</div>
    <div class="main">
      <div class="nav-daddy">
		    <div class="main-nav-spacer"></div>
		    <!-- B.1 MAIN NAVIGATION -->
		    <div class="main-navigation">
					<div class="round-border-topright"></div>
					<div class="round-border-topright"></div>
					<h1 class="first">Engresar</h1>
			    <dl class="loginform">
			      <%= yield %>
			    </dl>   
			  </div>
		    <div class="main-content">
		      <% if flash[:notice] %>
			      <p class="notice_message"><%= flash[:notice] %></p>
		      <% end %>
		      <% if flash[:error] %>
			      <p class="error_message"><%= flash[:error] %></p>
		      <% end %>
				
		    </div>
	    </div>
    </div>
    <div class="footer">
      <p>Copyright &copy; 2008 Thane Media | All Rights Reserved</p>
      <p class="credits">Diseño por <a href="http://www.1-2-3-4.info/" >Wolfgang</a>  | Aplicación por <a href="#">Jared Martin</a> | Hecho con <a href="#">Ruby on Rails</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">CSS 2.0</a></p>
    </div>      
  </div> 
  
</body>
</html>

