
<% content_for :title do %>Lista de Cuentas<% end %>
<% content_for :actions do %>
	<dt><%= link_to 'Nueva Cuenta', new_account_path, :class => 'action' %></dt>
	<dt><%= link_to 'Nueva Transaccion', new_transaction_path  %></dt>
<% end %>

<br />
<%= will_paginate @accounts, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell_20">Numero</div>
    <div class="table_cell_20">Nombre</div>
    <div class="table_cell_20">Rama</div>
    <div class="table_cell_20">Tipo</div>
    <div class="table_cell">Balance</div>
  </div>

<% for account in @accounts %>
  <div class="table_row">
    <div class="table_cell_20"><%= link_to account.number, account %></div>
  	<div class="table_cell_20"><%= link_to account.name, account %></div>
    <div class="table_cell_20">
  		<% if account.parent %>
      	<%= link_to account.parent.name, account.parent %>
      <% end %>
    </div>
  	<div class="table_cell_20">
  		<% if account.modifier=1 %>
  			<%= h 'Debito' %>
  		<% else %>
  			<%= h 'Credito' %>
      <% end %>
  	</div>
  	<div class="table_cell"><%= number_to_currency(account.balance) %></div>
	</div>
<% end %>
</div>
<br />
<%= will_paginate @accounts, :class => 'pagination' %>

