<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :title do %>Transferencia de Saldo<% end %>
<% content_for :actions do %>

	<dt><%= link_to 'Cancelar', @account %></dt>
	<dt><%= link_to_function 'Generar', 'submit("transfer_form")' %></dt>
<% end %>

<% form_tag create_balance_transfer_path, :method =>'post', :id => 'transfer_form'  do %>
<br />
  <div class="column3-unit-center">
  	Un saldo de <%= number_to_currency(@amt) %> sera transferido de <%= @account.name %> a la cuenta seleccionado abajo.
    <p>
      <b>Para cual cuenta desea transferir el saldo?</b><br />
    <%= select_tag("number", options_for_select(Account.find_all_by_modifier(@account.modifier).collect { |thing| [thing.name, thing.id] })) %>
    </p>
  </div>
<% end %>


