<% content_for :title do %><%=h @account.name %> - #<%=h @account.number %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','contabilidad','gerente']) %>
		<dt><%= link_to 'Nueva cuenta', new_account_path  %></dt>
		<dt><%= link_to 'Cambiar', edit_account_path(@account) %> </dt>		
		<dt><%= link_to 'Remover', @account, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<% end %>
  <dt><%= link_to 'Lista', accounts_path, :class =>'action' %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Nombre:</b>
		<%= h @account.name %>
	</p>
	<p>
		<b>Numero de Cuenta</b>
		<%=h @account.number %>
	</p>
</div>
<div class="column2-unit-right">
	<p>
		<b>Rama</b>
		<% if @account.parent %>
  		<%=link_to @account.parent.name, @account.parent %>
		<% end %>
	</p>
	<p>
		<b>Entidad Representado</b>
		<% if @account.entity %>
  		<%=link_to @account.entity.name, @account.entity %>
		<% end %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
  <% if @account.postable %>
    <b>Esta cuenta esta abierta para uso directo.</b>
  <% else %>
    <b>Esta cuenta no esta abierta para uso directo.</b>   
  <% end %>
</p>

