<% content_for :title do %><%=h @account.name %> - #<%=h @account.number %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['admin','contabilidad','gerente']) %>
		<dt><%= link_to 'Nueva cuenta', new_account_path  %></dt>
		<dt><%= link_to 'Cambiar', edit_account_path(@account) %> </dt>
		<dt><%= link_to 'Nueva Transaccion', new_transaction_path  %></dt>
		<dt><%= link_to 'Transferir Saldo', new_balance_transfer_path  %></dt>
		<dt><%= link_to 'Remover', @account, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<% end %>
  <dt><%= link_to 'Lista', accounts_path, :class =>'action' %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Nombre:</b>
		<%= h @account.name %>
	</p>
	<p>
		<b>Numero de Cuenta</b>
		<%=h @account.number %>
	</p>
	<p>
		<b>Balance</b>
		<b><%=h @account.balance %></b>
	</p>
</div>
<div class="column2-unit-right">
	<p>
		<b>Rama</b>
		<% if @account.parent %>
  		<%=link_to @account.parent.name, @account.parent %>
		<% end %>
	</p>
	<p>
		<b>Entidad Representado</b>
		<% if @account.entity %>
  		<%=link_to @account.entity.name, @account.entity %>
		<% end %>
	</p>
	<p>
	  <b>Tipo de cuenta</b><br />
	  <% if @account.modifier == 1 %>
	  	Debito
	  <% else %>
	  	Credito
	  <% end %>
	</p>
</div>
<hr class="clear-contentunit" />
<p>
  <% if @account.postable %>
    <b>Esta cuenta esta abierta para uso directo.</b>
  <% else %>
    <b>Esta cuenta no esta abierta para uso directo.</b>   
  <% end %>
</p>
<div>
  <div class="table_header_row">
    <div class="table_cell_10">Fecha</div>
    <div class="table_cell_10">Transaccion</div>
    <div class="table_cell_10">Pedido</div>
    <div class="table_cell_25">Cuenta</div>
    <div class="table_cell_15">Debito</div>
    <div class="table_cell_15">Credito</div>
    <div class="table_cell">Balance</div>
  </div>
  <% for p in @myposts %>
    <div class="table_row">
      <div class="table_cell_10"><%= h p.trans.created_at.to_date %></div>
    	<div class="table_cell_10"><%= h p.trans.id %></div>
    	<div class="table_cell_10">
    	  <% if p.trans.order %>
    	    <%= link_to p.trans.order.id, p.trans.order %>
    	  <% end %>
    	</div>  
    	<div class="table_cell_25">
    	  <% if p.account %>
    	    <%= link_to p.account.name, p.account %>
    	  <% end %>
    	</div>
    	<% if p.post_type_id==1 %>
    	  <div class="table_cell_15"><%= h number_to_currency((p.value||0)) %></div>
    	  <div class="table_cell_15"></div>
    	<% else %>
    	  <div class="table_cell_15"></div>
    	  <div class="table_cell_15"><%= h number_to_currency((p.value||0)) %></div>
    	<% end %>
    	<div class="table_cell"><%= h number_to_currency((p.balance||0)) %></div>
    </div>
  <% end %>
</div>
  
