<% content_for :title do %>Cuenta: <%=h @account.name %> - #<%=h @account.number %><% end %>
<% content_for :actions do %>
	<% if current_user.has_rights(['Admin','Contabilidad','Gerente']) %>
		<dt><%= link_to 'Nueva cuenta', new_account_path  %></dt>
		<dt><%= link_to 'Cambiar', edit_account_path(@account) %> </dt>
		<dt><%= link_to 'Nueva Transaccion', new_tran_path  %></dt>
		<dt><%= link_to 'Imprimir', account_path(@account, :format=>'pdf')  %></dt>
		<dt><%= link_to 'Transferir Saldo', new_balance_transfer_path  %></dt>
		<dt><%= link_to 'Contar Saldos', recount_balances_path  %></dt>
		<dt><%= link_to 'Remover', @account, :confirm => 'Esta seguro?', :method => :delete, :class => 'action' %></dt>
	<% end %>
  <dt><%= link_to 'Lista', accounts_path, :class =>'action' %></dt>
<% end %>
<div class="column2-unit-left">
	<p>
		<b>Nombre:</b>
		<%= h @account.name %>
	</p>
	<p>
		<b>Numero de Cuenta</b>
		<%=h @account.number %>
	</p>
	<p>
		<b>Saldo</b>
		<b><%=h number_to_currency(@account.balance) %></b>
	</p>
</div>
<div class="column2-unit-right">
	<p>
		<b>Rama</b>
		<% if @account.parent %>
  		<%=link_to @account.parent.name, @account.parent %>
		<% end %>
	</p>
	<p>
		<b>Entidad Representado</b>
		<% if @account.entity %>
  		<%=link_to @account.entity.name, @account.entity %>
		<% end %>
	</p>
	<p>
	  <b>Tipo de cuenta</b><br />
	  <% if @account.modifier == 1 %>
	  	Debito
	  <% else %>
	  	Credito
	  <% end %>
	</p>
</div>
<hr class="clear-contentunit" />
<div>
  <div class="table_header_row">
    <div class="table_cell_15">Fecha</div>
    <div class="table_cell_15">Transaccion</div>
    <div class="table_cell_15">Tipo</div>
    <div class="table_cell_20">Cuenta</div>
    <div class="table_cell_10">Debito</div>
    <div class="table_cell_10">Credito</div>
    <div class="table_cell">Saldo</div>
  </div>
  <% for entry in @myposts %>
    <div class="table_row">
      <div class="table_cell_15"><%= h entry.post.trans.created_at.to_date %></div>
    	<div class="table_cell_15"><%= link_to entry.post.trans.id, tran_path(entry.post.trans) %></div>
    	<div class="table_cell_15">
    	  <% if entry.post.trans.obj_link %>
    	    <%= link_to entry.post.trans.description, entry.post.trans.obj_link %>
    	  <% else %>
    	    <%= h entry.post.trans.description %>
    	  <% end %>
    	</div>
    	<div class="table_cell_20">
    	  <% if entry.account %>
    	    <%= link_to entry.post.account.number_and_name, entry.account %>
    	  <% end %>
    	</div>
    	<% if entry.post.post_type_id==1 %>
    	  <div class="table_cell_10"><%= h number_to_currency((entry.post.value||0)) %></div>
    	  <div class="table_cell_10"></div>
    	<% else %>
    	  <div class="table_cell_10"></div>
    	  <div class="table_cell_10"><%= h number_to_currency((entry.post.value||0)) %></div>
    	<% end %>
    	<div class="table_cell"><%= h number_to_currency((entry.balance||0)) %></div>
    </div>
  <% end %>
</div>
  
